{% extends "index.html" %}
{% load static %}
{% block main %}
<p class="theme">Тема 1. Основні поняття мови С++</p>
            <p class="lesson">Урок 2. Перша програма. Сталі</p>
            <p class="subTheme" id="subTheme1_2_1">Перша програма</p>
            <p class="regular">
                Суттєвою особливістю мови С++ порівняно з іншими мовами є те, що програми складаються з функцій, які
                відіграють роль підпрограм в інших мовах. Головиа функція, яка має бути у кожній програмі, - це функція
                вигляду<br>
            </p>
            <p class="code">main(void)<br>
                { <br>
                тіло функції з командою return О;<br>
                }<br>
            </p>
            <p class="regular">
                де main() - заголовок функції. Ключове слово void означає, що функція не залежить від параметрів, його
                записувати не обов'язково. Функцію з параметрами розглядатимемо нижче. У тілі функції містяться команди
                та виклики інших функцій. Команди одну від одної відокремлюють символом ";" (крапка з комою). Текст
                функції закінчується командою повернення return. Тіло функції (усі команди після заголовка) записується
                у дужках { }.
                Розглянемо програму, у результаті виконання якої на екран буде виведено повідомлення: Привіт, студент
                НАУ! <br>
                //Моя перша програма мовою С++ <br>
            </p>
            <p class="code">
                #include int main() <br>
                { <br>
                cout &lt&lt" Привіт , студент НАУ!" ;<br>
                return 0;<br>
                }<br>
            </p>
            <p class="subTheme">Відео пояснення</p>
            <video  controls >
                <source src="{% static 'video/1.mp4' %}" type="video/mp4">
            </video>
            <p class="regular">
                Розглянемо елементи програми. У першому рядку є коментар. Коментар - це фрагмент тексту програми, який
                слугує для пояснення призначення програми чи окремих команд і не впливає на виконання команд. Його
                записують так: //текст коментарю або так: /* текст коментарю */. У першому випадку коментар має бути або
                у кінці рядку під'єднує бібліотечний файл iostream.h. Саме у цьому файлі описані функції, які дають
                змогу виконувати операції введення-виведення даних. Далі у програмі записана обов'язкова функція main().
                Ключове слово int означає, що функція main() повертатиме у точку виклику результат цілого типу.
                Конструкція cout &lt&lt забезпечує виведення на екран монітора повідомлення "Привіт, студент НАУ!".
                Команда return слугує для виходу з функції main(). Числовий параметр після return є результатом
                (значенням) функції (у цій програмі - 0).
                Увага! Функцію main() можна застосувати так:<br>
            </p>
            <p class="code">
                void main() <br>
                { <br>
                тіло функції;<br>
                }<br>
            </p>
            <p class="regular">
                Ви вже знаєте, що в кутових дужках &lt &gt записують значення параметра директиви, які у програмі
                пропускати не можна. Крім цього, у кутових дужках описуватимемо словами загальні конструкції мови,
                замість яких у реальній програмі будуть конкретні команди. У цьому разі у програмі кутові дужки не
                пишуть.
                Зазвичай складніші програми містять значну кількість функцій та додаткових елементів. Тому у загальному
                випадку програма мовою С++ має такий вигляд:<br>
                // коментарі<br>
                #include &ltназва бібліотечного файлу 1&gt<br>
                …
                #include &lt назва бібліотечного файлу N&gt<br>
                &ltінші директиви препроцесора&gt<br>
                …
                &ltоголошення глобальних змінних&gt ;<br>
                &ltоголошення глобальних сталих&gt ;<br>
                &ltоголошення та створення функцій користувача &gt ;<br>
                …
                &ltтип результату функції&gt main(onиc формальних nараметрів)<br>
                { <br>
                &ltоголошення локальних змінних&gt ;<br>
                &lt оголошення локальних сталих&gt ;<br>
                &ltкоманди&gt ;<br>
                }<br>
                Розрізняють глобальні та локальні дані. Дані, визначені для всіх функцій, називаються глобальиими, а
                дані, які використовуються лише в окремих функціях, - локальними.<br>
            </p>
            <p class="subTheme" id="subTheme1_2_2">Сталі та змінні</p>
            <p class="regular">
                Змінна чи стала - це пайменована ділянка оперативної пам'яті комп'ютера, де зберігається значення деякої
                величини. Змінні і сталі (їх прийнято називати даними) мають такі властивості: назву (ім'я), значення,
                тип. Назву дає програміст. Для роботи з даними слід зарезервувати певний обсяг оперативної пам'яті
                комп'ютера, де зберігатимуться їхні значення. Тому всі дані, які використовуються у програмі, потрібно
                заздалегідь описати (оголосити), оскільки компілятор розподіляє пам'ять згідно з описами.
                Якщо значення деякої величини (даного) не змінюватиметься протягом виконання усієї програми, то таке
                дане варто задати як сталу (константу, const). Це можна зробити так:<br>
                const &ltназва сталої 1 &gt = &ltзначення сталої 1 &gt ;<br>
                або так: <br>
                const &ltтип&gt &ltназва сталої 2&gt = &ltзначення сталої 2&gt ;<br>
                Сталу 2 називають типованою сталою. За замовчуванням числова стала належить до цілого типу. Під час
                виконання програми значення сталих змінювати не можна.
                Приклад 1. Оголосимо три сталі<br>
                const vik = 20, rist = 176;<br>
                const float g = 2.78;<br>
                Для сталої g задано тип - float і значення 2, 78.<br>
                Увага! У С+ + є такі стандартні сталі: число π є сталою М_РІ, π /2 - М_РІ_2, π / 4- М_РІ_4, 1/ π -
                M_l_PI тощо. Ці сталі можна безпосередньо використовувати у програмі, заздалегідь підключивши модуль
                math.h.
                Дані, значення яких необхідно ввести з клавіатури або які під час виконання програми можуть набувати
                різних значень, називають зміппими. Їх оголошують так:<br>
                &ltтип змінних 1 &gt &ltсписок змінних1 & gt;<br>
                &ltтип змінних N&gt &ltсписок змінних N& gt;<br>
                Елементи списків записують через кому. Наприклад, змінні оголошують так:<br>
            </p>
            <p class="code">
                int а, с; <br>
                float b, d, z;<br>
                char w;<br>
            </p>
            <p class="regular">
                Змінним можна задавати початкові значення відразу під час оголошення. Це називається іпіц.іалізац.ією
                даних. Наприклад, float b, d = 2.5, а = 4; char w = 't';. Отже, у загальному випадку змінні одного типу
                оголошують так:<br>
                &ltтип змінних&gt &ltназва змінної 1&gt =&ltзначення 1&gt, .<br>
                &ltназва змінної N&gt =&ltзначення N&gt, &ltсписок інших змінних&gt ;<br>
            </p>
{% endblock main %}
{% block anchors %}
<div class="anchors anchors1_2">
    <a href="#subTheme1_2_1">Перша програма</a>
    <a href="#subTheme1_2_2">Сталі та змінні</a>
</div>
{% endblock anchors %}