{% extends "index.html" %}
{% load static %}
{% block main %}
<p class="theme text">Тема 1. Основні поняття мови С++</p>
<p class="lesson">Урок 4. Присвоєння. Арифметичні вирази</p>
<p class="subTheme" id="subTheme1_4_1">Команда присвоєння</p>
<p class="regular">
    Правила узгодження типів. Команда присвоєння має такий загальний вигляд:<br>
    &ltназва змінної&gt = &ltвираз&gt<br>
    або<br>
    &ltназва змінної 1 &gt = &ltназва змінної 2&gt = ... = &ltназва змінної N&gt = &ltвираз&gt<br>
    Дія команди. Обчислюється вираз і його значення надається змінній або декільком змінним. Вираз
    призначений для описування формул, за якими виконуватимуться обчислення.
    Вираз може містити числа, сталі, змінні, зви функцій , з'єднані символами операцій.
    Розглянемо приклади написання команд присвоєння:<br>
</p>
<p class="code">
    а= 8- 2;<br>
    с = d =а+ 4;<br>
    е = d / 5 + с ;<br>
</p>
<p class="regular">
    Змінна 1 вираз не обов'язково повинні бути одного типу. Крім того, у виразі можуть бути дані різних
    числових типів (змішаІіі вирази). Якщо тип змінної не збігається з типом виразу, то у С++ відбувається
    автоматичне перетворення (узгодження) типів. Розрізняють явне та неявне узгодження типів, з якими
    ознайомимося на прикладах.<br>
    Приклад 1. Розглянемо програму, де значення змінної а типу int треба помножити. на значення змінної с
    типу float (відповідні числа вводитимемо з клавіатури) і результат надати змінній b типу int:<br>
</p>
<p class="code">
    // Множення чисел<br>
    #include &ltiostream .h&gt<br>
    void main()<br>
    { <br>
    int b, а; float с;<br>
    cout &lt&lt "Введіть ціле число\n" ;<br>
    cin &gt&gtа; //Вводимо значення а з клавіатури<br>
    cout &lt&lt ''Введіть дійсне число\n" ;<br>
    cin &gt&gt с; // Вводимо значення с з клавіатури<br>
    b = с * а;<br>
    cout &lt&lt “a” = &lt&lt а &lt&lt "\п" ;<br>
    cout &lt&lt "с = " &lt&lt с &lt&lt "\n";<br>
    cout &lt&lt "b = "; cout &lt&lt b &lt&lt "\n";<br>
    }<br>
</p>
<p class="subTheme">Відео пояснення</p>
            <video  controls >
                <source src="{% static 'video/2.mp4' %}" type="video/mp4">
            </video>
<p class="regular">
    Для введення значення змінної з клавіатури використовуться конструкція cin &gt&gt.
    Якщо ввести дані так: а = 2, с = 3.8, то після виконання програми на екрані отримаємо
    а=2
    с = 3.8
    b=7<br>
    Спочатку відбулося множення (с · а = 3.8 · 2 = 7.6). Оскільки змінна b цілого типу, то дробову частину
    числа 7,6 було відкинено і змінній b надано значення 7. Відбулося явне перетворення типів (перетворення
    за замовчуванням). Якщо у попередній програмі змінну Ь оголосити як змінну типу float, то отримаємо b =
    7,6.<br>
    Для явного перетворення типів новий тип задають у круглих дужках перед змінною або виразом. Якщо у
    програмі вище записати команду
    b = (int)c * а;
    то під час обчисленнЯ виразу спочатку відбудеться перетворення даного с до цілого типу (3), а потім-
    множення (с · а= 3 · 2 = 6). Отримаємо а= 2, с = 3.8, b = 6.
    Якщо ж у програмі цю команду записати так:<br>
    b = (int)(c * а);<br>
    то спочатку відбудеться множення (с ·а= 3.8 · 2 = 7,6), а пізніше результат буде перетворений до цілого
    числа (b = 7). Отримаємо а= 2, с = 3.8, b = 7.<br>
    Отже, у випадку використання явного перетворення типів потрібно стежити, до яких елементів виразу воно
    застосовується. Узгодження типів у виразах відбувається з урахуванням пріоритетів типів. Зазначимо
    пріоритети типів за їхнім спаданням: double, float, long, int, short. 3а замовчуванням результат
    перетворюється до старшого типу.
</p>
<p class="subTheme" id="subTheme1_4_2">Основні арифметичні операції мови С++</p>
<table>
    <tr>
        <th>Пріоритет</th>
        <th>Операції </th>
        <th>Зміст операції</th>
    </tr>
    <tr>
        <th>1</th>
        <th>=</th>
        <th>Присвоєння знака</th>
    </tr>
    <tr>
        <th>2</th>
        <th>*,/,%</th>
        <th>Множення, ділення, остача % від ділення</th>
    </tr>
    <tr>
        <th>3</th>
        <th>+,-</th>
        <th>Додавання, віднімання<</th> </tr> <tr>
        <th>4</th>
        <th>==,!=,&lt,&lt=,&gt,&gt=</th>
        <th>Порівняння (відношення)</th>
    </tr>
</table>
<p class="regular">
    Розглянемо операції порівняння. Операція == означає дорівнює, != - не дорівнює , &lt= - менше або
    дорівнює, &gt= - більше або дорівнює.<br>
    Виконання кожної операції здійснюється з урахуванням їхніх пріоритетів (тут 1 - найвищий). Для зміни
    звичайного порядку виконання операцій використовують круглі дужки.<br>
    Приклад 1. Розглянемо результати виконання операцій<br>
</p>
<p class="code">
    2 * -5 + 4 = -6;<br>
    2 * (-5 + 4) = -2;<br>
    7%3=1;<br>
    12/4-2=1;<br>
    12/(4-2)=6;<br>
    7% 3* -5 = -5.<br>
</p>
<p class="regular">
    Приклад 2. Нехай х = 3, у= 5. Дано вираз х ==у. Значенням цього виразу буде false (хибність), оскільки
    значення змінних х та у не рівні між собою, а значенням виразу х != у - true (істина), значеннями
    виразів х &gt у, х &lt= (у- 2) - відповідно false та true.
</p>
<p class="subTheme" id="subTheme1_4_3">Інкремент та декремент</p>
<p class="regular">
    У мові С++ підтримуються також дві унарні операції інкременту та декременту ++ і -- для збільшення і
    зменшення на одиницю значення операнда відповідно. Їх можна вказувати як перед операндом, так і після
    нього. У першому випадку (++x або --x) значення операнда x змінюється перед його використанням у виразі,
    а у другому (x++ або x--) — після його використання. Наприклад:
</p>
<p class="code">
    b=bl=3; c=cl=5;a=b+c++; /* b=3; c=5+l=6; a=3+5=8 */<br>
    al=bl+(++cl);/* bl=3; cl=5+l=6 ; al=3+6=9 */<br>
</p>
<p class="regular">
    &lt, &gt, ==, &gt=, &lt=, != — це символи операцій відношення (менше, більше, дорівнює, більше або дорівнює, менше
    або дорівнює, не дорівнює), які використовуються в логічних виразах;<br>
    &&, ||, ! — знаки логічних операцій «І», «АБО» і «НЕ»;<br>
    &, |, ^, &lt&lt, &gt&gt, ~ — знаки порозрядних логічних операцій, які виконуються над однойменними бітами машинного
    слова: «І», «АБО», виключаюче «АБО», зсув вліво, зсув вправо, інверсія;<br>
    ?, : — знаки, які використовуються в умовній тернарній операції. Наприклад, результатом виразу (a&gt0) ? a : 0 буде
    значення а, якщо а&gt0 і нульове значення — в іншому випадку.<br>
    *, & — знаки адресних операцій.<br>
    [ і ] — квадратні дужки використовуються при роботі з масивами для задання розмірів масиву і доступу до елементу
    масиву;<br>
    ( і ) — дужки використовуються для зміни пріоритету виконання операцій у виразах і при вказівці аргументів
    функцій;<br>
    Зручно використовувати також наступні операції присвоювання:<br>
    *=, /=, %=, +=, -=, &=, ^=, |=<br>
    Оператори закінчуються крапкою з комою. Прості оператори можна об’єднати в складений або блок за допомогою фігурних
    дужок, за якими крапку з комою можна не ставити.<br>
</p>
{% endblock main %}
{% block anchors %}
<div class="anchors">
    <a href="#subTheme1_4_1">Команда присвоєння</a>
    <a href="#subTheme1_4_2">Основні арифметичні операції мови С++</a>
    <a href="#subTheme1_4_3">Інкремент та декремент</a>
</div>
{% endblock anchors %}