{% extends "index.html" %}
{% load static %}

{% block main %}
<p class="theme text">Тема 4.  Масиви, рядки мови С++ </p>
            <p class="lesson text"> Урок 3. Рядки </p>
            <p class="subTheme text" id="subTheme4_3_1">Рядки символів і дії з ними </p>
             <p class="regular text">
                На відміну від інших мов програмування у С++ не визначено спеціального типу для
                опрацювання рядків. Рядок символів розглядається як масив елементів типу char, який закінчується символом '\0' (нуль-символ) що
                є ознакою кінця рядка. Такі рядки називають АSСІІ-рядками. Сталі типу рядок записують у лапках, наприклад, "Львівська політехніка",
                "студенти", " " - рядок, що містить один символ-пропуск. У сталих рядках нуль-символ дописується автоматично.<br>
                Увага!  Більшості компіляторів мови С++ автоматично додає нуль-символ у кінець рядка, тому зазначати його не обов'язково.<br>
                Масиви символів оголошують так:<br>
                char <назва рядка>[довжина рядка]; <br>
                Під час оголошення символьного масиву необхідно до фактичної довжини рядка додати одиницю для нульового символу (але не у всіх компіляторах).
                Якщо масив символів оголошують й ініціалізують одночасно, то довжину можна не зазначати, компілятор визначить її. Оскільки рядки є масивами
                символів, то назва рядка є вказівником на його перший  елемент (на перший символ).<br>
                Приклад 1. Розглянемо оголошення та ініціалізацію ряд <br>
             </p>
             <p class="code">
                const char text1 [] = "Ми вивчаємо nрограмування";<br>
                char slovo[] = "University";<br>
                char fraza1[ 11], fraza2[ 40] ;<br>
             </p>
             <p class="regular">
                Тут оголошено сталу text1, яка має значення "Ми вивчаємо програмування", символьні масиви: slovo (без зазначення розміру),
                fraza1 (може містити до 10 символів) та fraza2 (до 39 символів).<br>
                Символьний масив slovo ще можна оголосити так:<br>
             </p>
             <p class="code">char slovo[11] = "University";</p>
             <p class="regular"> або так </p>
             <p class="code">char slovo[] = {'U', 'n', 'і' , 'v', 'e', 'r',' s','i ',' t', 'у', '\0'};</p>
             <p class="regular">
                Тут потрібно вручну записати нуль-символ, інакше компілятор трактуватиме змінну slovo не як рядок, а як масив.<br>
                Рядки можна опрацьовувати  посимвольно за допомогою вказівників або назви масиву, наприклад, так: <br>
             </p>
             <p class="code">
                for (int n =0; n &lt 11; n++) *(fraza1+n) = *(slovo+n);
                cout &lt&lt fraza1;
             </p>
             <p class="regular"> Змінній fraza1 надається значення "University" і ця фраза виводиться на екран. Інакше це можна зробити так: </p>
             <p class="code">
                for (int n =0; n &lt 11; n++)
                fraza1 [n] = slovo[n]; cout &lt&lt fraza1;
             </p>
             <p class="regular">Увести весь масив символів можна за допомогою команди </p>
             <p class="code">cin >> <назва масиву>;</p>
             <p class="regular">
                Якщо рядок даних містить символ пропуску, то команда cin >> зчитає дані лише до першого пропуску. Щоб зчитати весь рядок до
                символу вводу, необхідно застосувати команду<br>
                сіn.gеt(<назва рядка>, <максимальна довжина рядка>);<br>
                Наприклад, cin.get(fraza2, 40). Зчитати символ вводу можна так: cin.get(). Зчитати рядок разом із символом вводу можна одним із
                способів:<br>
             </p>
             <p class="code">
                1) cin.get(fraza2, 40);<br>
                cin.get()<br>
                2) cin.get(fraza2, 40).get()<br>
                З) cin.getline(fraza2, 40).<br>
             </p>

             <p class="regular"> Вивести значення рядка на екран можна за допомогою команди </p>
             <p class="code">cout << <назва рядка>;</p>
             <p class="regular">Посимвольно вводити чи виводити елементи рядка можна за допомогою команд циклу for або  while. Наприклад,</p>
             <p class="code">for (int n =0; n < 11; n++) cin  >> *(fraza1 + n);</p>
             <p class="regular"> В кінці рядка необхідно поставити нуль-символ, тобто</p>
             <p class="regular">*(fraza1 + n + 1) ='\0';</p>
             <p class="regular">
                У бібліотеці conio.h визначені стандартні функції введення-виведення рядків. Наприклад, getc(), getchar() зчитують по одному
                символу рядка, введеного з клавіатури, putc() та putchar() виводять окремі символи рядка тощо. У бібліотеці stdio.h описані
                функції для введення gets() та виведення puts() усього рядка.
             </p>

            <p class="subTheme" id="subTheme4_3_2"> Функції для опрацювання рядків  </p>
             <p class="regular text">
                Для опрацювання масивів символів у мові С++ є стандартні функції, які описані у модулі string.h. Розглянемо деякі з них.<br>
                strlen(<pядoк>) - визначає фактичну кількість символів у рядку, застосовується у виразах;<br>
                strcat(r1, r2) - команда з'єднання рядків r1, r2 в один рядок, результат присвоює змінній r1;<br>
                strncat(r1, r2, n) - до змінної r1 додає перших n символів рядка r2, команда;<br>
                strcpy(r1, r2) - копіює символи з рядка r2 в рядок r1, команда;<br>
                strncpy(r1, r2, n) - копіює перших n символів рядка r2 в рядок r1 , команда;<br>
                strchr(r1, <символ>) - визначає перше входження деякого символу у рядок r1 так: повертає рядок, який починається від першого входження
                заданого символу до кінця рядка r1, застосовується у виразах;<br>
                strrchr(r1, <символ>) - визначає останнє входження заданого символу у рядок, застосовується у виразах;<br>
                strspn(r1, r2) - визначає номер першого символу, який входить у рядок r1, але не входить у рядок r2, застосовується у виразах;<br>
                strstr(r1, r2) - визначає в рядку r1 підрядок, що починається з першого входження рядка r2 у рядок r1 , застосовується у виразах;<br>
                strtok(r1 , r2) - визначає частину рядка r1, яка закінчується перед першим однаковим символом рядків r1 та r2;<br>
                strnset(r1, <символ>, n) - вставляє n разів заданий символ перед рядком r1, застосовується у виразах;<br>
                strApr(r1) - перетворює усі малі літери рядка у великі;<br>
                strlwr(r1) - перетворює усі великі літери рядка у малі;<br>
                strrev(r1) записує рядок у зворотному порядку.<br>
                Приклад 2. Розглянемо результати застосування функцій до таких змінних:<br>
             <p class="code">
                char Lviv[] ="Львівська політехніка",<br>
                Un [З0]= "НУ ",<br>
                r1 [З0]="" ;<br>
                char *р; int n;<br>
             </p>
             <p class="regular">
                Задача 2 (про пошук слова у фразі). Нехай задано рядок "Скоро будуть канікули". Визначити довжину рядка. Вивести на екран друге
                слово цього рядка.
             </p>
             <p class="code">
                #include &lt iostream.h &gt //Пошук другого слова за допомогою функцій<br>
                #include &lt string.h &gt<br>
                void main()<br>
                {<br>
                char r1[] ="Скоро будуть канікули";<br>
                char *р;<br>
                cout &lt&lt r1 &lt&lt "\n"; <br>
                cout &lt&lt Довжина рядка r1 =" &lt&lt strlen(r1) &lt&lt "\n";<br>
                // Встановлюємо вказівник р на перший пропуск<br>
                р = strchr(r1, ' '); // у рядку r1<br>
                // З рядка р вилучаємо всі символи після його<br>
                strtok(p, " ''); // першого пропуску<br>
                cout &lt&lt р;<br>
                }<br>
            </p>
             <p class="regular">
                Подамо ще один спосіб розв'язання задачі 2, в якому рядок розглядається як масив символів і функції для роботи зрядками не
                використовуються.
             </p>
             <p class="code">
                #include &lt iostream.h &gt // Рядок як масив символів<br>
                #include &lt conio.h &gt<br>
                #include &lt string.h &gt<br>
                void main()<br>
                {<br>
                clrscr();<br>
                char r1 [] = "Скоро будуть канікули";<br>
                char *р;<br>
                int n1, n2, k, m;<br>
                m=0;<br>
                k = strlen(r1); <br>
                cout &lt&lt Довжина рядка r1 = " &lt&lt k &lt&lt "\n";<br>
                for (int і= 0; &lt k; і++) //Переглядаємо всі символи рядка<br>
                if (r1 [і] ==' ') //Шукаємо пропуск<br>
                {<br>
                m++; // Визначаємо номери першого<br>
                if (m == 1) n1 =і; // та другого<br>
                if (m == 2) n2 = i; // пропусків<br>
                }<br>
                //Виводимо слово між двома пропусками<br>
                for (і= n1 + 1; і &lt n2 -1 ; і++) cout &lt&lt r1[i];<br>
                getcn();<br>
                }<br>
             </p>
             <p class="regular">
                Задача 3 (про столиці). Введіть п'ять назв столиць європейських країн. Упорядкуйте їх за алфавітом. Виведіть упорядкований масив
                на екран.<br>
                // Столиці країн
             </p>
             <p class="code">
                #include &lt iostream.h &gt<br>
                #include &lt string.h &gt<br>
                #include &lt conio.h &gt<br>
                #define N 5<br>
                void main()<br>
                {<br>
                char p[N][16]; // Оголошуємо N вказівників на рядки<br>
                char m[16];  // довжиною до 15 символів<br>
                for (int і= 0; і &lt N; i++)<br>
                cin >> *(р +і) ; // Вводимо рядок і<br>
                for (і = 0; і &lt N - 1; i++)<br>
                {<br>
                for (int j = 0; j &lt N - i; j++)<br>
                {<br>
                if (strcmp(p[j], p[j+ 1 ]) > 0) // Порівнюємо рядки<br>
                { //у разі потреби, міняємо<br>
                strcpy(m, p[j]); // їх місцями<br>
                strcpy(p[j], p[j+ 1]);<br>
                strcpy(p[j+ 1 ], m);<br>
                }<br>
                }<br>
                }<br>
                }<br>
                for (і= 0; і &lt N; і++) cout &lt&lt  р[і] &lt&lt "\n";<br>
                }<br>
             </p>
            <p class="subTheme" id="subTheme4_3_3"> Криптографічні задачі  </p>
             <p class="regular">
                Текстові функції застосовуються для розв' язування задач кодування даних з метою збереження секретності інформації. Існує наука -
                криптографія,де вивчаються і створюються різні алгоритми кодування інформації. Основні задачі криптографії - це шифрування тексту,
                передача його на відстань і дешифрування. Це використовується у банківських справах, у воєнних цілях, у діяльності різних фірм, під
                час пересилання інформації в локальних чи глобальних мережах тощо.<br>
                Древнєримський імператор Цезар кодував свої секретні вказівки так: кожна літера тексту замінювалась на четверту після неї літеру з
                алфавіту. Такий шифр називається в криптографії шифром зі сталим зміщенням (тут 4), або шифром з одним ключем.<br>
                Задача 4 (про шифр Цезаря). Скласти програму для кодування деякого тексту до 50 символів шифром Цезаря, замінити кожну літеру на k-ту
                (наприклад, четверту) після неї літеру з алфавіту. Під алфавітом розуміти таблицю кодів ASCII.<br>
                // Програма Код Цезаря<br>
             </p>
             <p class="code">
                    #include &lt iostream.h &gt<br>
                    #include &lt string.h &gt<br>
                    void main()<br>
                    {<br>
                    char а[50];<br>
                    cout &lt&lt "Введіть текст:\n";<br>
                    cin .get(a, 50);<br>
                    for (int k, n =0; n &lt strlen(a); n++)<br>
                    {<br>
                    k = *(a+n) + 4; *(а + n) = k;<br>
                    }<br>
                    cout &lt&lt а;<br>
                    }<br>
             </p>
             <p class="regular">
                Задача 5 (про заміну слів). Скласти програму, яка скрізь у заданому тексті mytext замінить деяке слово іншим словом такої ж
                довжини (wordl на word2).
             </p>
             <p class="code">
                    #include &lt iostream.h &gt<br><br>
                    #include &lt string.h &gt<br><br>
                    void main()<br>
                    {<br>
                    char word1 [5], word2[5], mytext[50];<br>
                    char *р;<br>
                    cout &lt&lt "Введіть текст\n"; cin.get(mytext, 50);<br>
                    cout &lt&lt "Введіть шукане слово\n"; cin >> word1;<br>
                    cout &lt&lt "Введіть інше слово\n"; cin >> word2;<br>
                    int k = strlen(word1);<br>
                    // Встановлюємо вказівник р на початок<br>
                    р = mytext; // рядка mytext<br>
                    for (int і= 0; і &lt strlen(mytext)- k; і++) //Опрацьовуємо посимвольно<br>
                    { //рядок р<br>
                    р = strstr(p, word1 ); //у рядку р<br>
                    // Якщо такого входження немає, то<br>
                    if (р == NULL) break; //виходимо з циклу<br>
                    // У рядку р замінюємо word1 на word2<br>
                    for (int j =0; j &lt k; j++) *(р + j) = *(word2 + j);<br>
                    }<br>
                    cout &lt&lt mytext;<br>
                    }      <br>
             </p>
{% endblock main %}

{% block anchors %}
<div class="anchors">
<a href="#subTheme4_3_1">Рядки символів і дії з ними</a>
         <a href="#subTheme4_3_2">Функції для опрацювання рядків</a>
         <a href="#subTheme4_3_3">Криптографічні задачі</a>
</div>
{% endblock anchors %}