{% extends "index.html" %}
{% load static %}

{% block main %}
<p class="theme text">Тема 3. Цикли та функції мови С++</p>
            <p class="lesson text">Урок 5.Продовження вивчення функції (3) </p>
            <p class="subTheme text" id="subTheme3_5_1">Шаблони функцій </p>
            <p class="regular text">
                Перевантаження функцій, описане у попередньому пункті, часто буває корисним, але не завжди зручним. Як видно, один і той самий
                програмний код довелося записувати окремо для змінних символьного типу, а потім для цілих чисел. "У мові С++ є змога уникнути таке
                дублювання за допомогою шаблонів. Шаблон функції – це опис функції, яка залежить від даних довільного типу. Крім того, така функція
                може повертати в основну програму результат довільного типу. Тобто користувач створює сигнатуру й описує функцію з аргументами деякого
                загального типу. Під час виклику такої функції компілятор автоматично проаналізує тип фактичних аргументів, згенерує для них програмний
                код і виконає відповідні дії. Це називається  неявним створенням екземпляра шаблона . Такий підхід у програмуванні називається узагальненим
                програмуванням, оскільки він дає змогу створити функцію узагальненого типу .<br>
                Сигнатуру шаблону функції можна описати так:
            </p>
            <p class="code">
                template &lt class &lt назва узагальненого типу>><br>
                <тип функції> <назва функції>(<список формальних параметрів>);<br>
            </p>
            <p class="regular text">
                У списку формальних параметрів замість стандартних конкретних типів даних зазначають назву узагальненого типу. Правила для описування шаблона
                 функції такі самі, як і для функції користувача.<br>
                Увага! У стандарті ISO/ANSI замість ключового слова class прийнято записувати typename.<br>
                Якщо для деякого типу даних функцію необхідно описати окремо, то створюють явну специфікацією функції. Тоді у списках формальних параметрів
                шаблона зазначають конкретні типи аргументів.<br>
                <br>Приклад 12. Переробимо програму з прикладу 11 для упорядкування трьох введених даних заздалегідь невідомого типу, використовуючи шаблони.<br>
            </p>
            <p class="code">
                #include &lt iostream.h &gt<br>
                    #include &lt conio.h &gt<br>
                    // Оголошення шаблона функції<br>
                    template <class Mytype><br>
                    void Sort(Mytype n1, Mytype n2, Mytype nЗ);<br>
                    void main()<br>
                    {<br>
                    clrscr();<br>
                    int і1, і2, іЗ, k;<br>
                    char с1, с2, сЗ;<br>
                    cout &lt&lt Введіть 1 для впорядкування символів, 2 - чисел\n";<br>
                    cin >> k;<br>
                    if (k == 1)<br>
                    {<br>
                    cout &lt&lt "Уведіть три символи";<br>
                    cin >> с1 >> с2 >> сЗ;<br>
                    Sort (с1, с2, сЗ);<br>
                    }<br>
                    if (k == 2)<br>
                    {<br>
                    cout &lt&lt "Уведіть три числа" ;<br>
                    cin >> і1 >> і2 >> іЗ;<br>
                    Sort (і1 , і2, іЗ);<br>
                    }<br>
                    getch();<br>
                    }<br>
                    //------------------------------------------------------------------<br>
                    template <class Mytype> //Опис шаблона функції<br>
                    void Sort(Mytype n1, Mytype n2, Mytype nЗ)<br>
                    {<br>
                    Mytype с;<br>
                    if (n1 > n2)<br>
                    {с = n1; n1 = n2; n2 = с;}<br>
                    if (n2 > nЗ)<br>
                    {с = n2; n2 = nЗ; nЗ = с;}<br>
                    if (n1 > n2)<br>
                    {с = n1; n1 = n2; n2 = с;}<br>
                    cout &lt&lt n1 &lt&lt "\t" &lt&lt n2 &lt&lt "\t" &lt&lt nЗ;<br>
                    }<br>
            </p>
             <p class="subTheme" id="subTheme3_5_2"> Вбудовані функції</p>
             <p class="regular">
             Під час виконання програми генеруються коди .для всіх функцій користувача. Коли відбувається звертання до тієї чи іншої функції,
             здійснюється виклик відповідного коду. Якщо до деякої функції звертаються багато разів, то робота програми сповільнюється. Щоб
             цього уникнути, можна використовувати так звані вбудовані функції. Коди таких функцій вставляються компілятором у кожну точку
             виклику в основному коді. Це вимагає додаткового обсягу оперативної пам'яті, проте прискорює процес виконання програми. Щоб
             створити вбудовану функцію, потрібно до її оголошення додати ключове слово inline.<br>
            <br>Приклад 13. Використовуючи вбудовані функції, скласти програму для обчислення добутку<br><!--Вставити вираз добутку (умова)-->
            </p>
            <p class="code">
                #include &lt iostream.h &gt // Вбудовані функції<br>
                    #define N 10<br>
                    inline float dob(int а);<br>
                    void main()<br>
                    {<br>
                    float D;<br>
                    for (int k = 1; k &lt= N; k++) D = dob(k);<br>
                    cout &lt&lt "Добуток дорівнює = " &lt&lt D;<br>
                    } <br>
                    //--------------------------------------<br>
                    float dob(int а)<br>
                    {<br>
                    static float d = 1;<br>
                    d = d * (5*а + 2) / (а - 15);<br>
                    return d;<br>
                    }<br>
            </p>
            <p class="regular text">
                Виконавши програму, одержимо значення добутку 28380,5.
            </p>
          <p class="subTheme" id="subTheme3_5_3"> Функція main() з параметрами</p>
          <p class="regular">
            Функція, яка має бути у кожній програмі, - це функція main(). Досі вона використовувалась без параметрів: main(). Як і інші функції,
            ця функції може мати аргументи. Вони називаються аргументами т-сомандного рядт-са. Їх зазначають під час запуску програми (ехе-файлу)
            у командному рядку операційної системи.<br>
            Загальний вигляд функції main такий:<br>
          </p>
          <p class="code"> int main(int argc, char *argv, char *env[])<br></p>
          <p class="regular text">
            де argc - число аргументів функції + 1 (назва програми теж вважається аргументом), які задають у командному рядку.
            Параметр argv -це вказівник на масив символьного типу. Параметр env[] служить для передачі параметрів для операційної системи, у якій
            виконується програма. Його використовують, наприклад, тоді, коли програму потрібно виконати в різних операційнах системах.<br>
            <br>Приклад 14. Нехай треба знайти мінімальне або максимальне значення функції у = x^2 sinx, де х змінюється на проміжку [1; 2] з кроком h = 0,1.
          </p>
        <p class="code">
            #include &lt iostream.h &gt // Використання функції main() з параметрами <br>
                #include &lt conio.h &gt<br>
                #include &lt process.h &gt<br>
                #include &lt math.h &gt<br>
                #define h 0.1<br>
                #define b 2<br>
                float Min(float y);float Max(float у);<br>
                int main(int argc, char *argv[])<br>
                {<br>
                if (argc &lt 2) //Якщо параметр не задано<br>
                {<br>
                cout &lt&lt "Недостатньо аргументів\n";<br>
                cout &lt&lt "Уведіть параметр min або max";<br>
                exit (1); //Достроково виходимо з програми<br>
                float х, y; <br>
                cout « " Х \t У \n"; // Табулюємо функцію<br>
                for (х = 1; х &lt= b; х += h)<br>
                {<br>
                у= х * х * sin(x);<br>
                cout &lt&lt х &lt&lt "\t" &lt&lt у &lt&lt "\n";<br>
                }<br>
                // Перевіримо, чи другий параметр є min<br>
                if (*argv[1] == 'm' && *(argv[1]+ 1) == 'і' && *(argv[1]+2) == 'n')<br>
                cout &lt&lt "Min = " &lt&lt Min(y);<br>
                else<br>
                // Перевіримо, чи другий параметр є max<br>
                if (*argv[1] == 'm' && *(argv(1]+1) == ' a '&& *(argv(1]+2) =='x' )<br>
                cout &lt&lt "Мах=" &lt&lt Мах(у); <br>
                else cout &lt&lt "Параметр не визначено";<br>
                getch(); return 0;<br>
                } <br>
                //---------------<br>
                float Min(float у)<br>
                {<br>
                float х = 1, m;<br>
                m = х * х * sin(x);<br>
                for ( ; х &lt= 2; х += h)<br>
                у= х * х * sin(x);<br>
                if (m > у) m = у;<br>
                }<br>
                return m;<br>
                } <br>
                //-------------------------------------------------------------<br>
                float Max(float у)<br>
                {<br>
                float х = 1, m;<br>
                m = х * х * sin(x);<br>
                for ( ; х &lt= 2; х += h)<br>
                {<br>
                у = х * х * sin(x);<br>
                if (m &lt у) m = у;<br>
                }<br>
                return m;<br>
                }<br>
        </p>
        <p class="regular text">
            3 бібліотеки process.h використано функцію exit{}, яка дає змогу достроково завершити виконання програми.
        </p>
{% endblock main %}

{% block anchors %}
<a href="#subTheme3_5_1">Шаблони функцій</a>
            <a href="#subTheme3_5_2">Вбудовані функції</a>
            <a href="#subTheme3_5_3">Функція main() з параметрами</a>
{% endblock anchors %}