{% extends "index.html" %}
{% load static %}

{% block main %}
    <p class="theme text">Тема 2. Процеси мови С++</p> 
    <p class="lesson text">Урок 2. Файли</p>
    <p class="subTheme text" id = "subTheme2_2_1">Що таке файл?</p>
    <p class="regular text">
        Часто виникає потреба опрацьовувати інформацію, розміщену на зовнішніх носіях (на дисках), або виводити результати програми не на екран монітора, а у файл. Прикладами таких даних є інформація про розклад руху транспорту, успішність студентів, наявність товарів у магазинах, адреси, анкетні дані тощо. <br>
        Файл - це сукупність даних, які розміщені на зовнішньому носії, зокрема, на жорсткому диску. Дані у файлі називаються елементами. Кількість даних під час опрацювання файлів не зазначають. 
        Файли можуть містити як текстову, так і 30 числову інформацію. Існує декілька бібліотечних функцій, які дають змогу зчитати інформацію з файлу або спрямовувати потік виведення у файл. Функції, які розглядатимемо, описані в бібліотеці fstream.h. 
        Тому для роботи з файлами насамперед необхідно підключити саме цю бібліотеку.<br>
        Увага! У модулі fstream.h також містяться описи стандартних потоків cout і cin. Тому , щоб зчитати інформацію з файлу і вивести її на екран монітора, модуль iostream.h підключати не обов 'язково.<br>   
    </p>
    <p class="subTheme text" id = "subTheme2_2_2">Зчитування даних з файлу</p>
    <p class="regular text">
        Щоб зчитати вхідні дані з файлу, необхідно оголосити файлову змінну та відкрити файл для читання так (розглянемо два способи):
    </p>     
    <p class="code">
        ifstream &ltназва файлової змінної&gt(&ltзовнішня назва&gt,<br>
        ознака1 [ознака2 І ... І ознакаN];<br>
    </p>
    <p class="regular text">
        або так:
    </p> 
    <p class="code">
        ifstream &ltназва файлової змінної&gt ;<br>
        &ltназва файлової змінної&gt ореn(&ltзовнішня назва&gt) ;<br>
    </p>
    <p class="regular text">
        Дія команд.Підключаємо потік введення даних із файлу та налагоджуємо зв'язок між файловою змінною у програмі та файлом на зовнішньому носії. 
        Назву зовнішнього файлу треба записувати у лапках. Ознаки слугують для визначення прав доступу до файлу. 
        Ознаки зазначати необов'язково. У випадку, коли їх задавати не потрібно, наведені дві форми запису тотожні, і можна обирати одну з них.<br>
        Приклад 1. Відкрити зовнішній файл MyText. txt для читання з нього даних можна так:

    </p> 
    <p class="code">
        ifstream MyFile("MyText.txt");<br>
    </p>
    <p class="regular text">
        або так:
    </p> 
    <p class="code">
        ifstream MyFile; MyFile.open("MyText.txt");<br>
    </p>
    <p class="regular text">
        Тут MyFile - це файлова змінна, що асоціюється у програмі з відповідним зовнішнім файлом на диску. Введення даних виконують командою введення &gt&gt . Наприклад, команда
    </p> 
    <p class="code">
        MyFile &gt&gt text;<br>
    </p>
    <p class="regular text">
        зчитає одне дане з початку файлу MyText. txt до першого пропуску чи до символу "кінець рядка" у змінну text. Якщо треба зчитати наступне дане (яке розміщене між першим і другим пропусками), необхідно повторити попередню команду, тобто записати команди 
    </p> 
    <p class="code">
        MyFile &gt&gt text; MyFile &gt&gt text1; <br>
    </p>
    <p class="regular text">
        або використати команду
    </p> 
    <p class="code">
        MyFile &gt&gt text &gt&gt text1 ;<br>
    </p>
    <p class="regular text">
        Отже, зчитати дані з файлу можна за допомогою команди:
    </p> 
    <p class="code">
        &ltназва файлової змінної&gt &gt&gt &ltзмінна 1 &gt<br>
        &gt&gt &ltзмінна 2&gt &gt&gt ... &gt&gt &ltзмінна N&gt<br>
    </p>
    <p class="regular text">
        Після опрацювання файлу його потрібно закрити. Це роблять так:
    </p> 
    <p class="code">
        &ltназва файлової змінної&gt .close()<br>
    </p>
    <p class="regular text">
        Наприклад, MyFile.close(). Файл MyText.txt буде закрито .
        Після цього файлову змінну MyFile у разі потреби можна зв'язати з іншим файлом на диску.
        Визначити кінець файлу можна за допомогою функції eof() (eof - end of file, кінець файлу) так:
    </p> 
    <p class="code">
        &ltназва файлової змінної&gt еоf()<br>
    </p>
    <p class="regular text">
        Ця функція повертає нульове значення, якщо досягнуто кінця файлу.<br>
        Приклад 2. Нехай у деякому текстовому редакторі створено файли textl.dat і text2.dat. Послідовно зчитаємо з них дані та виведемо їх уміст на екран.
    </p> 
    <p class="code">
        #include &ltfstream.h&gt // Виведення інформації із файлів<br>
        void main()<br>
        {<br>
        ifstream File1 ("text1.dat");<br>
        // Поки не досягнуто кінця файлу text1 .dat<br>
        while (! File1 .eof()) //Знак! означає операцію не<br>
        {  // Надаємо місце в пам'яті для зчитуваного даного<br>
        char *t = new char[ЗO] ; //до ЗО символів<br>
        File1 &gt&gt t; // Зчитуємо дане з файлу<br>
        cout &lt&lt t &lt&lt "\n"; // Виводимо це дане на екран<br>
        delete[] t; // Вивільняємо пам ять<br>
        )<br>
        // Повертаємось на початок команди while<br>
        File1.close(); //коли досягнуто кінця файлу, закриваємо його<br>
        File1.open("tex12.dat"); //Відкриваємо файл text2.dat для читання<br>
        while (! File1 .eof()) // Поки не досягнуто кінця файлу<br>
        { <br>
        char *t = new char[З0];<br>
        File1&gt&gt t;<br>
        cout &lt&lt t &lt&lt "\n";<br>
        delete[] t;<br>
        }<br>
        File1.close();<br>
        }<br>   
    </p>
    <p class="subTheme" id="video3">Відео пояснення</p>
            <video  controls >
                <source src="{% static 'video/3.mp4' %}" type="video/mp4">
            </video>
    <p class="subTheme text" id = "subTheme2_2_3">Виведення даних у файл</p>
    <p class="regular text">
        Відкрити файл для записування у нього даних можна так:
    </p> 
    <p class="code">
        ofstream &ltназва файлової змінної&gt(&ltзовнішня назва&gt,<br>
        ознака1  [ ознака2 І ... І ознакаN ]<br>
    </p>
    <p class="regular text">
        або так:
    </p> 
    <p class="code">
        ofstream &ltназва файлової змінної&gt ;<br>
        &ltназва файлової змінної&gt ореn(&ltзовнішня назва&gt);<br>
    </p>
    <p class="regular text">
        Дія команд. Підключаємо потік виведення у файл і налагоджуємо зв'язок між файловою змінною у програмі та файлом на зовнішньому носії. Ознаки зазначати не обов'язково.
        Приклад 3. Відкрити файл MyText1.txt для запису у нього даних можна так (тут FileForZap- файлова змінна):

    </p> 
    <p class="code">
        ofstream FileForZap("MyText1 .txt");<br>
    </p>
    <p class="regular text">
        або так:
    </p> 
    <p class="code">
        ifstream FileForZap; FileForZap.open("MyText1.txt");<br>
    </p>
    <p class="regular text">
        Щоб занести дані у файл, використовують команду виведення даних&lt&lt. Наприклад, після виконання команд
    </p>
    <p class="code">
        int n = 1 О; FileForZap &lt&lt  n;<br>
    </p>
    <p class="regular text">
        у файл MyText1.txt буде занесено число 10. Занести декілька даних у файл можна так само, як і вивести їх на екран: використовуючи стандартні правила команди&lt&lt та керуючі послідовності.<br>
        Отже, записати дані у файл можна так:
        
    </p>
    <p class="code">
        &ltназва файлової змінної&gt &lt&lt &ltзмінна 1 &gt &lt&lt<br>
        &ltзмінна 2&gt &lt&lt ... &lt&lt &ltзмінна N&gt<br>
    </p>
{% endblock main %}

{% block anchors %}
<div class="anchors lessonWithVideo">
    <a href="#video1">Відео урок</a>
    <a href="#subTheme2_2_1">Що таке файл?</a>
    <a href="#subTheme2_2_2">Зчитування даних з файлу</a>
    <a href="#subTheme2_2_3">Виведення даних у файл</a>
</div>
{% endblock anchors %}