{% extends "index.html" %}
{% load static %}

{% block main %}
    <p class="theme text">Тема 2. Процеси мови С++</p> 
    <p class="lesson text">Урок 4. Побітові операції</p>
    <p class="subTheme text" id = "subTheme2_4_1">Побітові логічні операції та операції зсуву.</p>      

    <p class="regular text">
        Одиницею виміру пам яті комп'ютера є байт. Кожний байт складається із восьми бітів.
        У кожному біті можна розмістити одне з двох чисел: О та 1. У одному байті можна зобразити ціле число з діапазону від О до 255.
        Щоб занести значення деякого даного у пам'ять комп'ютера, необхідно це дане перетворити у двійковий код. 
        Зазвичай відповідні програми це роблять автоматично . 
        Однак інколи на практиці, наприклад, під час створення графічних зображень чи в задачах архівування даних, виникає потреба порівнювати не значення двох даних, а їхні біти . 
        Для цього у мові С++ є побітові логічні операції (див. табл. 8): & (І), І (АБО), л (виключне АБО), - (НЕ).
    </p>
    <table class="regular">
        <tr>
            <th>Операція</th>
            <th>Назва</th>
            <th>Приклади</th>
        </tr>
        <tr>
            <th>~</th>
            <th>Побітова not</th>
            <th>~j</th>
        </tr>
        <tr>
            <th>&</th>
            <th>побітова and</th>
            <th>i & 128</th>
        </tr>
        <tr>
            <th>^</th>
            <th>побітова xor</th>
            <th>j ^ 12</th>
        </tr>
        <tr>
            <th>|</th>
            <th>побітова or</th>
            <th>j | 64</th>
        </tr>
        <tr>
            <th>&lt&lt</th>
            <th>зсув вліво</th>
            <th>j &lt&lt 2</th>
        </tr>
        <tr>
            <th>&gt&gt</th>
            <th>зсув вправо</th>
            <th>j &gt&gt 3</th>
        </tr>
    </table>
    <p class="regular text">
        Побітові операції not, and, or виконуються над бітами за такими правилами як для логічних даних. Наведемо правила виконання операцій.<br>
        Операція and. Результатом операції AND (&) (логічне І) для двох бітів буде одиниця, якщо обидва біти дорівнюють одиниці, або нулю, якщо хоча б один з них дорівнює нулю:
    </p>
    <table class="regular">
        <tr>
            <th>&</th>
            <th>1</th>
            <th>0</th>
        </tr>
        <tr>
            <th>1</th>
            <th>1</th>
            <th>0</th>
        </tr>
        <tr>
            <th>0</th>
            <th>0</th>
            <th>0</th>
        </tr>
    </table>
    <p class="regular text">
        Операція xor. Результатом операції XOR (^) (виключне АБО) для двох бітів буде одиниця, якщо обидва біти різні, і результат дорівнює нулю, якщо обидва біти одинакові:
    </p>
    <table class="regular">
        <tr>
            <th>| (xor)</th>
            <th>1</th>
            <th>0</th>
        </tr>
        <tr>
            <th>1</th>
            <th>0</th>
            <th>1</th>
        </tr>
        <tr>
            <th>0</th>
            <th>1</th>
            <th>0</th>
        </tr>
    </table>
    <p class="regular text">
        Результатом операції OR (|) (логічне АБО) для двох бітів буде одиниця, якщо хоча б один з них дорівнює одиниці, якщо обидва біти дорівнюють нулю, то результат дорівнює нулю.
    </p>
    <table class="regular">
        <tr>
            <th>| (or)</th>
            <th>1</th>
            <th>0</th>
        </tr>
        <tr>
            <th>1</th>
            <th>1</th>
            <th>1</th>
        </tr>
        <tr>
            <th>0</th>
            <th>1</th>
            <th>0</th>
        </tr>
    </table>
    <p class="regular text">
        Операції зсуву виконуються за такими правилами.<br><br>
        1.	x&lt&ltn<br>
        2.	При зсуві вліво ліві n бітів зникають, праві n бітів заповнюються нулями.<br>
        3.	x&gt&gtn<br>
        4.	При зсуві вправо праві n бітів зникають, ліві n бітів заповнюються знаковим бітом:  нулями - для числа дотатнього, одиницями - для числа від'ємного.<br>
    </p>
    <p class="subTheme text" id = "subTheme2_4_2">Приклад програми</p>  
    <p class="regular text">
        Нехай b1 =00110011, b2=11110101. <br>
        Тоді b1 & b2 = 00110001 , b1 І b2 = 11110111 , b1 ^ b2 = 1100011 , ~ b1 = 110011 00.<br>
        Кожний байт можна зобразити у вигляді послідовності з восьми нулів та одиниць. Для того , щоб зсунути біти послідовності вправо чи вліво на деяку фіксовану кількість, використовують спеціальні операції зсуву &gt&gt та &lt&lt .<br>
        Під час зсуву на порожні місця дописують нулі. Наприклад, нехай b = 00100101, с = 10110010, тоді під час виконання команд: 
    </p>
    <p class="code">
        b = b &lt&lt 2;<br>
        с = с &gt&gt 1;<br>
    </p>
    <p class="regular text">
        змінна b набуде значення 10010100, а с- 01011001.
        Увага! Під час зсуву цифр цілого числа на n позицій вліво відбувається множення цього числа на 2n, а на n позицій вправо - ділення на 2n.
        Увага!  Подібно до команд присвоєння 3 арифметичними операціями можна використовувати команди присвоєння з логічними побітовими операціями: &=, І=, л= та команди присвоєння з побітовим зсувом : &gt&gt=, &lt&lt+.
    </p>
    <p class="subTheme text" id = "subTheme2_4_3">Команда розгалуження if (якщо)</p>
    <p class="regular text">
        Команда розгалуження if має дві форми: повну та коротку. Повна така:
    </p>
    <p class="code">
        if (&ltлогічний вираз&gt) &ltкоманда 1 &gt ; else &ltкоманда 2&gt ;
    </p>
    <p class="regular text">
        Дія команди. Обчислюється значення логічного. виразу . Якщо це значення істинне, то виконується команда 1, у протилежному випадку - команда 2. Команда 1 та команда 2 можуть бути порожніми, простими або складеними.<br>
        Приклад 3. Нехай х = 9. Унаслідок виконання команд
    </p>
    <p class="code">
        if (х &gt 7) у = pow(x. 2); else у = sqrt(x);<br>
        if (х &lt= 5) z = ехр(х) ;<br>
        else z = ++х;<br>
    </p>
    <p class="regular text">
        отримаємо у= 81, z = 10, х = 10.<br>
        Розглянемо команди
    </p>
    <p class="code">
        if (х) у = х- 10;<br>
        if (у) у+= 2;<br>
        else у= 15;<br>
    </p>
    <p class="regular text">
        Спочатку у дорівнюватиме 0 (оскільки х ≠ 0), а потім змінна у набуде значення 15.
        Прuклад 4. Проаналізуємо команди 
    </p>
    <p class="code">
        if (0) cout &lt&lt "НеІІо!"; - виведення на екран не буде<br>
        if (5) cout &lt&lt НеІІо!" ; - буде виведене слово Hello!<br>
        if (!5) cout &lt&lt "НеІІо!" ; - виведення не буде<br>
        if (!0) cout &lt&lt "НеІІо!"; - буде виведене слово Hello!<br>
        if (log(1 )) cout « "НеІІо! "; -виведення не буде<br>
    </p>
    <p class="regular text">
        Коротка команда розгалуження if має вигляд<br>
    </p>
    <p class="code">
        if (&ltлогічний вираз&gt) &ltкоманда 1&gt ;<br>
    </p>
    <p class="regular text">
        Дія команди. Обчислюється значення логічного виразу. Якщо воно істинне, то виконується команда 1, інакше виконується команда, яка записана після команди if.<br>
        Приклад 5. Нехай а= 7. Розглянемо команди
    </p>
    <p class="code">
        if (а&gt 7)<br>
        {<br>
        у= а++;<br>
        z =а+ 5;<br>
        }<br>
        if (а &lt= 9) z= ++а /2; у = z + а;<br>
    </p>
    <p class="regular text">
        Оскільки значення виразу a &gt 7 - false, то відразу виконуватиметься друга команда if. Значення виразу a&lt= 9 - true, тому z = (а + 1) / 2 = (7 + 1) / 2 = 4, а значення а = 7 + 1 = 8,
        отже, у= 4 + 8 = 12, а = 8.
    </p>
{% endblock main %}

{% block anchors %}
<div class="anchors">
    <a href="#subTheme2_4_1">Побітові логічні операції та операції зсуву.</a>
    <a href="#subTheme2_4_2">Приклад програми</a>
    <a href="#subTheme2_4_3">Команда розгалуження if (якщо)</a>
</div>
{% endblock anchors %}