{% extends "index.html" %}
{% load static %}

{% block main %}
    <p class="theme text">Тема 2. Процеси мови С++</p> 
    <p class="lesson text">Урок 1. Вказівники та динамічна пам’ять</p>
    <p class="subTheme text" id = "subTheme2_5_1">Команда?</p>      
    <p class="regular text">
        Команда? є аналогом команди розгалуження if. Загальний вигляд команди ? такий:
        &ltлогічний вираз&gt ? &ltкоманда або вираз 1 &gt : &ltкоманда або вираз 2&gt
        Дія команди. Обчислюється значення логічного виразу. Якщо воно істинне, то виконується команда 1 або обчислюється вираз 1, інакше - команда або вираз 2.<br>
        Задача 2 (про два числа). Ввести два цілі числа. Знайти більше з них.        
    </p>
    <p class="code">
        // Визначення більшого числа<br>
        #include &ltiostream.h&gt<br>
        #include &ltconio.h&gt<br>
        void main()<br>
        {<br>
        clrscr();<br>
        int х,у;<br>
        cout&lt&lt"Vvedit x,y\n"; cin&gt&gtx&gt&gty ;<br>
        cout &lt&lt "Мах=";<br>
        Х &gt у ? cout&ltX : cout&lty ;<br>
        getch();<br>
        }<br>
    </p>
    <p class="regular text">
        Команда ? у разі потреби трактується компілятором як вираз, тому її зручно використовувати у директивах препроцесора, наприклад
    </p>
    <p class="code">
        #define abs(x) &gt О ? (х); -(х);
    </p>
    <p class="regular text">
        Приклад 6. Нехай с = 10. Тоді після виконання команди 
    </p>
    <p class="code">
        х = (с ==З)? 2 * с: с- 2;
    </p>
    <p class="regular text">
        отримаємо х = 8, оскільки с не дорівнює 3, і тому тут обчислюється значення виразу 2.
    </p>
    <p class="subTheme text" id = "subTheme2_5_2">Команда вибору (switch)</p>  
    <p class="regular text">
        Команда вибору має вигляд:
    </p>
    <p class="code">
        switch (&ltвираз&gt);<br>
        {<br>
        case &ltознака 1 &gt : &ltкоманда 1 &gt ; break;<br>
        …<br>
        case &ltознака N&gt : &ltкоманда N&gt break;<br>
        default : &ltкоманда N+1&gt ;<br>
        }<br>

    </p>
    <p class="regular text">
        Вираз та ознаки мають бути цілочисельні. Оскільки транслятор мови С++ може розглядати значення змінних типу char і enum як цілі дані, то на місці виразу та ознак можуть бути сталі
        цілого, символьного або перераховного типів. На місці команд 1 - N може бути одна команда, декілька або не бути жодної команди . Команда break не є обов'язковою і записується у разі потреби. Вона слугує для виходу з команди switch.
        Складова частина default : &ltкоманда N+ 1 &gt також може бути відсутня - тоді матимемо коротку форму команди вибору switch. <br>
        Дія команди. Якщо значення виразу збігається зі значенням ознаки n, то виконується команда з номером n і розглядається наступний за нею рядок case і т.д. Для того, щоб припинити дію команди switch, наприклад, після виконання команди n (тобто щоб вийти з цієї команди), записують команду break;. Якщо значення виразу не збігається із жодною з ознак, то виконується команда N + 1 або, у випадку короткої форми, наступна команда після команди switch.<br>
        Задача 3 (про квитки). Нехай населені пункти позначені номерами від 1 до 8. Вартість одного квитка до конкретного пункту k визначається так:<br>
    </p>
    <img src="{% static 'img/formula1.png' %}" alt="some shiitt" >
    <p class="regular text">
        Скільки коштуватимуть m квитків до населеного пункту, номер k якого вводять з клавіатури?
    </p>
    <p class="code">
        #include &ltiostream.h&gt<br>
        #include &ltconio.h&gt<br>
        void main()<br>
        {<br>
        clrscr();<br>
        int k, m; float cina;<br>
        cout &lt&lt "Уведіть номер k населеного nункту і кількість квитків m ";<br>
        cin &gt&gt k &gt&gt m;<br>
        switch (k)<br>
        {<br>
        case 1 : cina = 22; break;<br>
        case 2:<br>
        case 3:<br>
        case 4: cina = 25; break;<br>
        case 5:<br>
        case 6: cina = З0; break;<br>
        case 7:<br>
        case 8: cina = 35; break;<br>
        default:<br>
        cout &lt&lt "Дані введено неправильно \n";<br>
        cina =0;<br>
        } <br>
        cout &lt&lt m &lt&lt " квитків до пункту " &lt&lt k &lt&lt " коштують ";<br>
        cout &lt&lt сіпа * m &lt&lt " грн";<br>
        getch();<br>
        }<br>
    </p>
    <p class="subTheme">Відео пояснення</p>
            <video  controls >
                <source src="{% static 'video/4.mp4' %}" type="video/mp4">
            </video>
    <p class="regular text">
        Якщо під час виконання програми дані ввести так: 3 5, то на екрані матимемо:<br>
        5 квитків до пункту З коштують 125 грн.
    </p>
    <p class="subTheme text" id = "subTheme2_5_3">Команда безумовного переходу goto</p> 
    <p class="regular text">
        Ця команда змінює послідовність виконання інших команд шляхом переходу до виконання команди, що має позначку (мітку). Команда переходу має вигляд
    </p>
    <p class="code">
        goto &ltпозначка&gt ;
    </p>
    <p class="regular text">
        Позначка може розміщуватись перед довільною командою у програмі. Вона відокремлюється від команди двокрапкою (:), а саме:
    </p>
    <p class="code">
        &ltпозначка&gt : &ltкоманда&gt ;
    </p>
    <p class="regular text">
        Позначкою може бути лише ідентифікатор, тобто набір допустимих символів, який починається з букви або символу підкреслення(_).
        Задача 4 (про квадратне рівняння). Ввести декілька наборів коефіцієнтів квадратного рівняння 〖ах〗^2 + bх + с = 0 і вивести повідомлення: матиме рівняння дійсні корені чи ні?
    </p>
    <p class="code">
        // Програма Квадратне рівняння<br>
        #include &ltiostream.h&gt<br>
        #include &ltconio.h&gt<br>
        #include &ltmath.h&gt<br>
        void main()<br>
        {<br>
        clrscr();<br>
        float а, b, с, d;<br>
        vvid : cout &lt&lt "\nУведіть коефіцієнти рівняння \n";<br>
        cin &gt&gt а&gt&gtb &gt&gt с;<br>
        if (а== 0) goto finish; //Якщо а=0, то перейти до позначки fiпish<br>
        d = pow(b, 2) - 4 * а * с; // Інакше обчислити дискримінант<br>
        if (d &gt= 0) cout &lt&lt "Це рівняння має корені";<br>
        else //Якщо дискримінант від'ємний, то<br>
        cout &lt&lt "Дані введено неправильно \n"; // виводимо відповідні<br>
        cout &lt&lt "Рівняння дійсних розв'язків не має"; // повідомлення<br>
        goto vvid; /І Перейти до позначки vvid<br>
        }<br>
        finish : getch();<br>
        }<br>
    </p>
    <p class="regular text">
        Увага! Використовувати команду goto варто лише у виняткових випадках, оскільки вона змінює природну послідовність виконання команд і робить програму важкозрозумілою
    </p>
    <p class="subTheme text" id = "subTheme2_5_4">Перерахований тип</p>
    <p class="regular text">
        Перерахований тип утворюють із перерахування іменованих сталих цілого типу так:
    </p> 
    <p class="code">
        enum &ltназва типу&gt= {&ltстала 1&gt =&ltзначення 1&gt, ... ,<br>
        &ltстала N&gt = &ltзначення N &gt};<br>
            
    </p>
    <p class="regular text">
        або так:
    </p> 
    <p class="code">
        enum &ltназва типу&gt= {&ltстала 1&gt, ... , &ltстала N&gt}:
    </p>
    <p class="regular text">
        В останньому випадку сталій 1 автоматично буде присвоєно значення 0, сталій 2 -значення 1 і т. д.
        Деякі сталі у списку можна ініціалізувати. Неініціалізованим сталим автоматично буде присвоєно значення на одиницю більше від значення попередньої сталої зі списку.<br>
        Приклад 7. Опишемо два перераховані типи (дні тижня та кольори):
    </p> 
    <p class="code">
        enum week = {mon, tue, wed, the, fri, sat, sun};<br>
        enum colors = {red = 1, green, yellow = 6, white};<br>
    </p>
    <p class="regular text">
        У списку week стала mon дорівнюватиме 0, tue = 1, ... , sun = 6. У списку colors стала red дорівнює 1, green відповідно 2, yellow - 6, а стала white- 7 (на одиницю більше від yellow).<br>
        Задача 5 (про розклад на день). Скласти програму, яка б виводила на екран розклад роботи на тиждень.
    </p> 
    <p class="code">
        #include &ltiostream.h&gt // Програма Розклад на день<br>
        #include &ltconio.h&gt<br>
        void main()<br>
        {<br>
        clrscr();<br>
        enum svet {mon, tue, wed, the, fri, sat, sun}; int day;<br>
        cout &lt&lt "Розклад занять на тиждень\n\n";<br>
        for (day = mon; day &lt= sun; day++)<br>
        switch (day)<br>
        {<br>
        case mon : cout « "Понеділок\t Зустріч акціонерів. \n"; break;<br>
        case tue : cout « "Вівторок\t Відрядження\п"; break;<br>
        case wed : cout « "Середа\t Відрядження\n"; break;<br>
        case the : cout « "Четвер\t Відрядження\n"; break;<br>
        case fri : cout « "П'ятниця\t Здати звіт. Зайти в банк\n"; break;<br>
        case sat : cout « "Субота\t їдемо на рибалку\n"; break;<br>
        case sun : cout &lt&lt "Неділяt\ Відвідати батьків. Ввечері йдемо у театр\n";<br>
        }<br>
        getch();<br>
        }<br>
    </p>
{% endblock main %}

{% block anchors %}
    <a href="#subTheme2_5_1">Команда?</a>
    <a href="#subTheme2_5_2">Команда вибору (switch)</a>
    <a href="#subTheme2_5_3">Команда безумовного переходу goto</a>
    <a href="#subTheme2_5_4">Перерахований тип</a>
{% endblock anchors %}