{% extends "index.html" %}
{% load static %}

{% block main %}
    <p class="theme text">Тема 2. Процеси мови С++</p> 
    <p class="lesson text">Урок 1. Вказівники та динамічна пам’ять</p>
    <p class="subTheme text" id = "subTheme2_1_1">Вказівники С++</p>      
    <p class="regular text">
        У мові С++ є операція визначення адреси — &, за допомогою якої визначаються адреси комірки пам’яті, що містить задану змінну. Наприклад, якщо vr — ім’я змінної, то &vr — адреса цієї змінної.
        У С++ також існують і змінні типу вказівник.
        Вказівник — це тип даних, який використовується для зберігання адрес змінних і об'єктів.
        Значенням змінної типу вказівник є адреса змінної або об'єкта.
        Опис змінних типу вказівник здійснюється за допомогою операторів наступної форми:
        &ltтип&gt *&ltім'я вказівника на змінну заданого типу&gt;<br>
        Приклад.  Опис вказівників
    </p>     
    <p class="code">
        int *ptri; //вказівник на змінну цілого типу<br>
        char *ptrc; //вказівник на змінну символьного типу<br>
        float *ptrf; //вказівник на змінну з плаваючою комою.<br>
    </p>
    <p class="regular text">
        Такий спосіб оголошення вказівників виник внаслідок того, що змінні різних типів займають різну кількість  комірок пам'яті. При цьому для деяких операцій з вказівниками необхідно знати об'єм відведеної пам'яті.
        Однак самі змінні типу вказівник мають однаковий розмір<br>
        Нехай змінна типу вказівник має ім'я ptr (тобто оголошена змінна int* ptr), тоді в якості значення їй можна присвоїти адресу за допомогою наступного оператора:
    </p>
    <p class="code">
        ptr=&vr ;<br>
    </p>
    <p class="regular text">
        Наприклад:
    </p>
    <p class="code">
        int vr = 1;<br>
        int* ptr = &vr ; // ptr містить адресу змінної vr<br>
    </p>
    <p class="subTheme text" id = "subTheme2_1_2">Динамічна пам’ять</p>    
    <p class="regular text">
        Динамічна пам'ять. Команди new і delete. Значення даних у пам'яті комп'ютера можна зберігати в області даних (статична пам'ять), у стеку або в динамічній пам'яті ("на купі").
        Усі змінні, які ми розглядали досі, - статичні.
        Під час їх оголошення сист.ема автоматично надає для зберігання їхніх значень певний обсяг оперативної пам'яті, і цей розподіл пам' яті залишається незмінним протягом виконання програми.
        Пам'ять, надана цим змінним, резервується (фіксується) у середині ехе-файлу відкомпільованої програми. 
        Навіть якщо не всі змінНі будуть використані у програмі, пам'ять буде зарезервована, тобто використана неефективно. Пам'ять, надана таким змінним, вивільняється лише після виконання програми. 
        Тому в оперативній пам'яті можна розмістити лише обмежену кількість даних. 
        Однак є задачі, де заздалегіді невідомо, скільки змінних потрібно для їхнього розв'язування, а, отже, який обсяг пам'яті потрібно зарезервувати, або задачі, у яких, навпаки, заздалегідь відомо, що змінних буде багато, наприклад, задачі опрацювання масивів великих розмірів.
        У таких випадках застосовують динамічну організацію пам'яті.
    </p> 
    <p class="subTheme text" id = "subTheme2_1_3">Принцип організації динамічної пам’яті</p> 
    <p class="regular text">
        Принцип динамічної організації пам'яті полягає у ·гому, що для змінних надається пам'ять за необхідністю (за вказівкою програміста). Далі ці змінні опрацьовують і в потрібний момент пам'ять вивільняють (знову за вказівкою програміста). Такі змінні називаються динамічними.<br>
        Для роботи з динамічними змінними використовують вказівники. Для виділення динамічної пам'яті застосовується команда new так:
    </p>
    <p class="code">
        &ltтип вказівника&gt *&ltназва&gt = new &ltтип змінної&gt ;<br>
    </p>
    <p class="regular text">
        Дія команди new. Для відповідного типу змінної автоматично надається необхідна неперервна ділянка пам'яті. 
        Команда new повертає обсяг цієї ділянки, а вказівник вказує на її початок. Наприклад, щоб зарезервувати у пам'яті комп'ютера область для зберігання значення цілого типу, застосовують таку команду:
    </p>
    <p class="code">
        int *prt = new int;<br>
    </p>
    <p class="regular text">
        Надати ділянку пам' яті й відразу занести у неї значення можна так: 
    </p>
    <p class="code">
        int *prt2 = new float(3.14);<br>
    </p>
    <p class="regular text">
        У адресу, на яку показує prt2, буде занесено число 3,14.<br>
        3 динамічною змінною можна виконувати операції, визначені для даних відповідного базового типу. 
        Після опрацювання динамічних змінних пам'ять необхідно вивільнити, а відповідний вказівник занулити. 
        Якщо цього не зробити, то пам'ять можна вичерпати. Вивільняють пам'ять за допомогою команди
    </p>
    <p class="code">
        delete &ltназва вказівника&gt ;<br>
    </p>
    <p class="regular text">
        Щоб вказівник не вказував на жодну ділянку пам'яті, його необхідно занулити такою командою:
    </p>
    <p class="code">
        &ltназва вказівника&gt = NULL;<br>
    </p>
    <p class="regular text">
        Значенням (адресою) такого вказівника буде нульова адреса ОхОООООООО. Тут не може бутерозміщене значення жодного даного.<br>
        Приклад 8. Розглянемо, як відбувається розподіл пам'яті.<br>
        Надамо пам'ять для двох змінних цілого типу та присвоїмо їм деякі значення. Пізніше вивільнимо пам'ять.
    </p>
    <p class="code">
        #include &ltiostream.h&gt<br>
        void main()<br>
        {<br>
        int *с1 = new int ;  // Готуємо пам’ять для цілого числа<br>
        *с1 = 5; // Змінна *с1 набуває значення 5<br>
        int *с2 = new int(7) ; // Виділяється пам’ять для с2 і *с2 набуває значення 7<br>
        cout &lt&lt *с1 &lt&lt "\t" &lt&lt *с2 &lt&lt "\n"; // Виводимо 5 та 7<br>
        // Переадресація- с1 вказуватимемо на ту саму<br>
        с1 = с2; // ділянку пам'яті, що і с2<br>
        cout &lt&lt *с1 &lt&lt "\t" &lt&lt *с2 &lt&lt "\n";<br>
        delete(c2);<br>
        // Виводимо 7 та 7<br>
        // Пам'ять, надану для с2, вивільняємо<br>
        cout &lt&lt *с1 &lt&lt "\n"; // Виводимо 7<br>
        }<br>
    </p>
    <p class="regular text">
        У стандарті ANSI мови Сумодулях stdlib.h та alloc.h визначені функції malloc і саІІос для надання динамічної пам'яті, а також функція free для вивільнення пам'яті. Детальніше про ці функції можна прочитати у довідниках. Замість значення NULL можна записати &ltназва вказівника&gt =0.
    </p>
{% endblock main %}

{% block anchors %}
    <a href="#subTheme2_1_1">Вказівники С++</a>
    <a href="#subTheme2_1_2">Динамічна пам’ять</a>
    <a href="#subTheme2_1_3">Принцип організації динамічної пам’яті</a>
{% endblock anchors %}