{% extends "index.html" %}
{% load static %}

{% block main %}
            <p class="theme text">Тема 3. Цикли та функції мови С++</p>
            <p class="lesson text">Урок 1. Три цикли мови С++ </p>
            <p class="subTheme text" id = "subTheme3_1_1">Цикли. Команда циклу з лічильником for</p>
            <p class="regular text">Цикл (повторення) -це процес виконання певного набору команд деяку кількість разів.
                У мові С++ є три команди циклу - for, while та do-while. Команда циклу з лічильником for. Команда for має вигляд
                for (<вираз 1>; <логічний вираз 2>; <вираз З>) <команда 1>;
                Вираз 1 призначений для підготовки циклу і виконується один раз. Переважно тут задають початкові значення змінних циклу (підготовляють цикл).
                У виразі 2 записують умову виходу із циклу. У виразі 3- команди зміни параметрів циклу.
                Якщо за допомогою одного із виразів необхідно виконати декілька дій, то використовують команду ''кома".
                Вирази 1 і 3 або один із них у команді for можуть бути відсутні. У цьому випадку опускати символ ";" не можна.
                Наприклад, for( ; і &lt 10 ; ) і++;.<br>
                Дія команди.<br>
                1) Обчислюються значення виразів 1 і 2.<br>
                2) Якщо значення виразу 2 істине - виконується команда 1. Якщо хибне - виконавець програми переходить до наступної після for команди.<br>
                3) Обчислюються значення виразів 3 та 2 і перевіряється пункт 2).<br>
                <br>Приклад 1. Суму цілих чисел з проміжку від 1 до 15 можна обчислити одним із способів:<br>
                1) int n=1, S= 0;<br>
                for ( ; n &lt 16; n++) S += n;<br>
                2) for (int n = 1, S = 0; n &lt 16; n++) S += n;<br>
                З) for (int n = 1, S =0; n &lt 16; S += n++);<br>
                4) for (int n = 1, S = 0; n &lt 16; S += n, n++);<br>
                У результаті виконання команд змінній S буде присвоєно значення 120. Зауважимо, що у способі 2) for (int n = 1, S = 0; n < 16; S += n, n++);
                змінні S і n ініціалізована (оголошено) безпосередньо у команді циклу for. <br>Приклад 2. Кількість і добуток усіх парних цілих
                чисел із проміжку від 4 до 11 можна обчислити так:
            </p>
            <p class="code">
                    int n, D, kil;<br>
                    for (D = 1, kil = О, n = 4; n <= 11; n += 2)<br>
                    {<br>
                    D*= n; kil++;<br>
                    }<br>
            </p>
            <p class="regular text">
                У результаті виконання програми одержимо D = 1920, kil = 4. Враховуючи приклад 1, наведіть інші можливі способи написання команди
                for.Увага! Часто у циклах корисно застосовувати команди break і continue. Команда break достроково припиняє роботу циклу і
                забезпечує перехід до наступної після циклу команди. Команда continue припиняє виконання поточної ітерації та починає виконувати
                наступну ітерацію (повторення) циклу. Зазвичай ці команди належать до деякої умовної команди. Наприклад, якщо виконуватиметься
                певна умова, то буде вихід з циклу , або, якщо умова не виконуватиметься, то буде перехід до наступної ітерації тощо.
            </p>
            <p class="subTheme" id = "subTheme3_1_2">Команда циклу з передумовою (while)</p>
            <p class="regular  text">
                Команда циклу з передумовою (while) має вигляд :<br>
                while {<вираз>) <команда 1>;<br>
                Дія команди.<br>
                1) Обчислюється значення виразу. Якщо воно істинне, то переходимо до пункту 2), якщо хибне - до пункту 3).<br>
                2) Виконується команда 1 і відбувається перехід до пункту 1).<br>
                3) Відбувається перехід до наступної після while команди.<br>
                Виразом може бути довільний логічний вираз, стала або змінна цілого типу. Якщо треба перевірити декілька умов, то застосовують
                команду "кома". Команда 1 може бути порожньою, простою або складеною. Для того, щоб відбувся вихід із циклу, необхідно змінювати
                значення параметра циклу у команді 1. Параметр циклу - це дане, яке входить у вираз.
                Команда while може бути виконана один раз, декілька разів або не бути виконана жодного разу.<br>
                <br>Приклад 2. Нехай х = 4, s =0, d = 1. Після виконання команд<br>
                while (х <= 8) { s += х; х++;}<br>
                while (х > 10) d *= х;<br>
                s = О + 4 + 5 + 6 + 7 + 8 = 30, х = 9, а змінна d свого значення (1) не змінить, оскільки значення виразу х > 10 хибне, і тому команда
                d *= х у циклі while виконуватись не буде.<br>
                <br>Приклад 3. Визначити обсяг вільної у певний момент оперативної пам'яті можна так:<br>
                int n =0;<br>
                while (new char) n++;<br>
                <br>Задача 1 (про суму цифр натурального числа). Для заданого натурального числа n підрахувати суму його цифр
            </p>
            <p class="code">
                #include &lt iostream.h &gt <br>
                    void main()<br>
                    {<br>
                    int S = 0, n, m;<br>
                    cout << "Введіть число"; cin >> n;<br>
                    m =n;<br>
                    while (m >0)<br>
                    { <br>
                     S += m% 10;<br>
                    m /= 10;<br>
                    }<br>
                    cout << "Сума цифр числа " << n << "дорівнює " << S;<br>
                    }<br>
            </p>
        <p class="subTheme" id = "subTheme3_1_3">Команда циклу з післяумовою do-while</p>
        <p class="regular  text">
            Команда циклу з післяумовою do-while має вигляд<br>
            do <команда 1 >;<br>
            while (<вираз>);<br>
            Дія команди.<br>
            1) Виконується команда 1 і обчислюється значення виразу.<br>
            2) Якщо значення виразу істинне, то див. пункт 1), якщо значення виразу хибне - відбувається перехід до наступної після do-while
            команди.<br>
            Команда 1 у циклі do-while, на відміну від циклу while, буде виконуватись хоча б один раз завжди.<br>
            <br>Приклад 4. Нехай цілі змінні х, у мають значення х= 5, у= 0. У результаті виконання команд
            </p>
            <p class="code">
            do<br>
            {<br>
            у += х; z = 2 * х;  х -= 2;<br>
            }<br>
            while (х > 1);
        </p>
        <p class="regular  text">
            змінні х, у, z набудуть таких значень: у= 0+ 5 + 3 =8, z = 6, х = 1.<br>
            <br>Задача 2 (про розклад числа на прості множники). Розкласти на прості множники задане натуральне число. Кількість виведень кожного
            множника дорівнює його кратності у розкладі.
        </p>
        <p class="code">
            #include &lt iostream.h &gt <br>
                void main()<br>
                {<br>
                int і, n;<br>
                cout << "Введіть число"; cin >> n;<br>
                cout <<” \n n = 1 “;<br>
                for(i = 2; і<= n; і++)<br>
                {<br>
                if (n % і) continue;<br>
                do<br>
                {<br>
                cout << “* “<<і;<br>
                n /= i;<br>
                }<br>
                while (!(n% і)) ;<br>
                }<br>
                }<br>
        </p>
        <p class="regular  text">
            <br>Задача 3  (про максимальне значення функції). Протабулювати функцію у = 2cosx на проміжку [ -π; π] з кроком h =π /4. Результати
             обчислень вивести на екран або у файл за вибором виконавця у вигляді таблиці. Визначити найбільше значення функції (max) на цьому
             проміжку, а також з'ясувати, для якого х (xmax) воно досяrеється.<br>
            Максимальне чи мінімальне значення функції, або· значення, які задовольняють деяку умову пошуку, визначають методом сканування
            (перегляду) всіх значень функції та по рівняння їх з деяким еталоном.<br>

        </p>
        <p class="code">
            // Табулювання функції<br>
                #include &lt fstream.h &gt<br>
                #inctude &lt conio.h &gt<br>
                #include &lt math.h &gt<br>
                void main()<br>
                {<br>
                clrscr();<br>
                ofstream tabfile("tabul.txt", ios::out);<br>
                const float рі = 3.1415926;<br>
                float х =-рі, h =рі / 4, у, max, xmax;<br>
                max = 2 *cos (х);<br>
                xmax= х;<br>
                cout.precision(2);<br>
                cout &lt&lt" Х    У"&lt&lt "\n';<br>
                tabfile &lt&lt " Х    У" &lt&lt "\n";<br>
                do<br>
                {<br>
                у= 2* cos (х) + 1.75;<br>
                cout &lt&lt х &lt&lt "\t" &lt&lt у&lt&lt "\n";<br>
                tabfile &lt&lt х &lt&lt "\t" &lt&ltу &lt&lt "\n";<br>
                if (у> max)<br>
                {<br>
                max= у;<br>
                xmax = х;<br>
                }<br>
                x+= h;<br>
                }<br>
                while (х &lt = рі + h / 2);<br>
                cout &lt&lt "\n Мах= " &lt &lt max &lt&lt "\n";<br>
                cout &lt&lt "xmax = " &lt&lt xmax &lt&lt "\n";<br>
                tabfile &lt&lt "\n Мах= " &lt&lt max &lt&lt "\n";<br>
                tabfile &lt&lt "xmax = " &lt&lt xmax &lt&lt "\n";<br>
                tabfile.close();<br>
                getch();<br>
                }<br>
        </p>
        <p class="regular  text">
        Увага! У попередній програмі замість оголошення сталої const float рі = 3.1415926 можна було використати стандартну сталу М_РІ, яка
         описана у модулі math.h.
        </p>
{% endblock main %}

{% block anchors %}
    <a href="#subTheme3_1_1">Цикли. Команда циклу з лічильником for</a>
    <a href="#subTheme3_1_2">Команда циклу з передумовою (while)</a>
    <a href="#subTheme3_1_3">Команда циклу з післяумовою do-while</a>
{% endblock anchors %}