{% extends "index.html" %}
{% load static %}

{% block main %}
            <p class="theme text">Тема 3. Цикли та функції мови С++</p>
            <p class="lesson text">Урок 3.Продовження вивчення функції(1) </p>
            <p class="subTheme text" id="subTheme3_3_1">Виклик функцій користувача</p>
            <p class="regular text">
                До функції користувача звертаються з розділу команд основної програми (функції main()) або з іншої функції . Виклик функцій
                можна виконати двояко: або командою виклику, або з виразів так: <br>
                <назва функції>(<сnисок фактичних nараметрів>)<br>
                Список фактичних параметрів може містити сталі, змінні, посилання, вказівники, вирази. Списки формальних і фактичних параметрів
                мають бути узгодженими за типами та кількістю елементів. Якщо у списку формальних параметрів є проініціалізовані змінні, то у
                списку фактичних параметрів ці змінні можуть бути відсутні, їм будуть надані значення за замовчуванням.<br>
                Приклад 4. Розглянемо сигнатуру з прикладу 3 попередньго уроку.<br>
                float perymetr (int k = 4, float r = 2.5);<br>
                До цієї функції можна звернутись одним із способів:<br>
                perymetr (7, 2.8);<br>
                perymetr (8);<br>
                perymetr ();<br>
                У першому випадку змінній k буде присвоєне значення 7, а змінній r - 2,8; у другому випадку k = 8, r = 2,5; в третьому k = 7, r = 2,5.
                У списку фактичних параметрів не можна пропускати змінні з середини списку, тобто не можна функцію Myfunc() викликати так:
                Myfunc(1.65);, оскільки тут пропущено ініціалізацію першої змінної k.<br>
                <br>Задача 1 (про товарний чек). Використовуючи функцію користувача, скласти програму для виведення на екран товарного чека для
                купівлі n штук товару за ціною m гривень за одну штуку. Ціну та кількість купленого товару ввести самостійно у режимі діалогу.
            </p>
            <p class="code">
                include &lt iostream.h &gt  // Товарний чек<br>
                    #include &lt conio.h &gt<br>
                    float Suma(int , float); // Оголошення функцІЇ Suma<br>
                    void main()<br>
                    {<br>
                    clrscr();<br>
                    float m; int n;<br>
                    cout &lt&lt "Введіть ціну за 1 шт. \n"; cin >> m;<br>
                    cout &lt&lt "Введіть кількість купленого товару \ n "; cin >> n;<br>
                    clrscr (); <br>
                    cout &lt&lt "\t ТОВАРНИЙ ЧЕК \n";<br>
                    cout &lt&ltЦіна за 1 шт. - &lt&lt m &lt&lt " грн \n";<br>
                    cout &lt&ltЗа &lt&lt n &lt&lt " штук необхідно сплатити ";<br>
                    cout &lt&lt Suma(n, m) &lt&lt " грн\n"; //Виклик функції  Suma<br>
                    cout « "\t Дякуємо за покупку!"; getch();<br>
                    }<br>
                    //----------------------------------------------------------------<br>
                    float Suma(int kil, float cina) // Опис функції  Suma<br>
                    {<br>
                    float s;<br>
                    s = kil * cina;<br>
                    return s;<br>
                    }<br>

            </p>
            <p class="subTheme" id="subTheme3_3_2">Посилання</p>
            <p class="regular">
                До даних можна звертатись за допомогою імен або посилань. Посилання слугує для надання ще одного імені (псевдоніма, синоніма,
                аліасу) даному. Посилання утворюють так:<br>
                <тип даного> &<назва посилання> = <назва змінної>;<br>
                Наприклад,
                float &cina = suma;
                У цьому випадку посилання cina і змінна suma вказуватимуть на одну і ту саму адресу в пам'яті комп'ютера. Для посилань не
                резервується додаткова оперативна пам'ять.<br>
                У С++ можна утворювати посилання на дані, але не на їхні типи. Значення посилання ініціалізуються відразу під час його оголошення,
                тобто на етапі компіляції. У нашому прикладі посилання cina проініціалізоване змінною suma. Отже, якщо suma = 11, то і значення
                посилання cina також буде 11.<br>
                Під час зміни значення посилання змінюється значення змінної, на яке це посилання вказує. Отже, якщо у програмі записати команду
                cina = 15.7, то змінна suma також набуде значення 15, 7.<br>
                Змінювати (переадресовувати) посилання у програмі не можна. Посилання завжди вказує на одну і ту саму адресу в 57 оперативній
                пам'яті. Це використовують під час створення та виклику функцій. Під час виклику функції копії усіх її фактичних параметрів заносяться
                 у спеціально організовану область пам'яті. Потім виконуються відповідні команди функції і результат повертається у програму командою
                 return. Оскільки всі дії відбуваються з копіями параметрів, а не із самими параметрами (копії та власне параметри розміщені у різних
                 ділянках пам'яті), то значення фактичних параметрів в основній програмі не змінюються. Як параметри функції можна використовувати
                 посилання або вказівники. Тоді значення фактичних параметрів у основній програмі змінюватимуться, оскільки функція буде повертати
                 значення в основну програму не тільки через змінну з команди return, а й через відповідні посилання та вказівники, бо вони вказують
                 на ту саму ділянку пам'яті, де розміщені фактичні параметри.<br>
                Щоб передати посилання чи вказівники у функцію як параметри і не змінити значення фактичних параметрів, треба в оголошенні функції до
                кожного параметра дописати ключове слово const. Наприклад, int sort(const int *р, const int *g);<br>
                У С++ посиланням може бути не тільки змінна чи стала, а і функція<br>
                <тип>& <назва функції>(<список формальних параметрів>) <br>
                Така функція повертає· синонім імені комірки, у яку занесено результат (посилання на змінну певного типу). Функція посилання має двояке
                призначення. По перше, як і звичайна функція, вона може повертати значення в основну програму. По-друге, їй самій можна надавати значень,
                 що є унікальним випадком у програмуванні. <br>
                <br>Приклад 5. Оголосимо змінну та вказівник на дійсний тип float *prt, u; та опишемо функцію<br>
                 float &ltem(float* а, int і) {return *(а+ і); }<br>
                Виділимо ділянку пам'яті для зберігання значень десяти дійсних чисел prt = new float[10]; Викликати цю функцію можна звичайно: <br>
                u = ltem(prt, З); <br>
                Тоді змінній u буде надано значення четвертого елемента. Уведемо значення п'ятого числа так:<br>
                ltem(prt, 4) = 10.<br>
                У цьому разі функції ltem() надаємо значення, тобто у ділянку пам'яті буде занесено число 10.
                 </p>
                 <p class="subTheme" subTheme3_3_3> Рекурсія</p>
        <p class="regular text">
            Рекурсією називається алгоритмічна конструкція, де підпрограма викликає сама себе. Рекурсія дає змогу записувати циклічний алгоритм,
             не застосовуючи команд циклу. Типовий приклад використання рекурсії – обчислення факторіала числа. Нагадаємо, що факторіал числа - це
             добуток цілих чисел від одиниці до певного заданого числа. Отже, n! = n · (n - 1) · (n- 2) · ... · 1. Рекурсивна властивість факторіала:
             n! = n· (n-1)!.<br>
             <br>Приклад 6. Скласти функцію для обчислення n!, використовуючи рекурсію, можна так:
        </p>
        <p class="code">
            long factorial (int n)<br>
            {<br>
            long fact;<br>
            if (n > 1) fact = n * factorial(n - 1);<br>
            else fact = 1 ;<br>
            return fact;<br>
            }<br>
        </p>
        <p class="regular text">
        Увага! Оскільки навіть для невеликих чисел значення факторіала є досить великим, то у цьому прикладі для функції factorial задано тип
        long. Це дає змогу обчислити факторіали чисел від 1 до 16. Для визначення факторіалів чисел більших від 16 необхідно використати
        алгоритми "довгої арифметики<br>
        Обчислимо функцію factorial(5) = 5 · factorial(4) = 5 · 4 · factorial(З) =5 · 4 З factorial{2) = 5 · 4 · З · 2 · factorial{1) = 5 · 4 · З · 2 · 1 = 120.
        Переконайтеся, що factorial(1З) = 19З205З504.<br>
        <br>Приклад 7. Рекурсивна функція обчислення суми цілих чисел від а до b має вигляд <br>
        </p>
        <p class="code">
         int Suma (int а, int b)<br>
        {<br>
        int S;<br>
        if (а== b) S = а;<br>
        else S = b + Suma(a, b- 1);<br>
        return S;<br>
        }<br>
        </p>
        <p class="regular text"> Увага!  Застосовуючи рекурсію, потрібно правильно складати стоп-умови, які забезпечують закінчення циклічних обчислень.</p>
{% endblock main %}

{% block anchors %}
            <a href="#subTheme3_3_1">Виклик функцій користувача</a>
            <a href="#subTheme3_3_2">Посилання</a>
            <a href="#subTheme3_3_3">Рекурсія</a>
{% endblock anchors %}