{% extends "index.html" %}
{% load static %}
{% block main %}
    <p class="theme text">Тема 1. Основні поняття мови С++</p>
    <p class="lesson text">Урок 5. Потоки. Введення і виведення </p>
    <p class="subTheme text" id="subTheme1_5_1"> Потоки</p>
    <p class="regular">
        У мові C++ дії, що пов’язані з операціями введення і виве­дення, виконуються за допомогою функцій бібліотек. Функції ведення і виведення бібліотек мови дозволяють читати дані з файлів та пристроїв і писати дані у файли і на пристрої.<br>
        Бібліотека мови C++ підтримує три рівня введення-виведення даних:<br>
        -	введення-виведення потоку;<br>
        -	введення-виведення нижнього рівня;<br>
        -	введення-виведення для консолі і порту.<br>
        При введенні-виведенні потоку всі дані розглядаються як потік окремих байтів. Для користувача потік — це файл на дис­ку або фізичний пристрій, наприклад, дисплей чи клавіатура, або пристрій для друку, з якого чи на який направляється потік даних. Операції введення-виведення для потоку дозволяють обробляти дані різних розмірів і форматів від одиночного символу до великих структур даних. Програміст може використовувати функції бібліотеки, розробляти власні і включати їх у бібліоте­ку. Для доступу до бібліотеки цих класів треба включити в програму відповідні заголовні файли.<br>
        За замовчуванням стандартні введення і виведення повідомлень про помилки відносяться до консолі користувача (клавіатури та екрана). Це означає, що завжди, коли програма очікує введення зі стандартного потоку, дані повинні надходити з клавіатури, а якщо програма виводить дані — то на екран.<br>
        У мові C++ існує декілька бібліотек, які містять засоби введення-виведення, наприклад:stdio.h, iostream.h. Найчастіше застосовують потокове введення-виведення даних, операції яко­го включені до складу класів istream або iostream. Доступ до бібліотеки цих класів здійснюється за допомогою використання у програмі директиви компілятора #include &ltiostream.h&gt.
    </p>
    <p class="subTheme" id="subTheme1_5_2">Потокове введення даних.</p>
    <p class="regular">
        Для потокового введення даних вказується операція «&gt&gt» («читати з»). Це перевантажена операція, визначена для всіх простих типів і покажчика на char. Стандартним потоком введення є cin.<br>
        Формат запису операції введення має вигляд:<br>
        сin [&gt&gt values]; <br>
        де values — змінна.<br>
        Так, для введення значень змінних х і у можна записати:<br>
        сin &gt&gt х &gt&gt у;<br>
        Кожна операція «&gt&gt» передбачає введення одного значення. При такому введенні даних необхідно дотримуватись конкретних вимог:<br>
        -	для послідовного введення декількох чисел їх слід розділяти символом пропуску (« ») або Enter (дані типу char роздiляти пропуском необов’язково);<br>
        -	-якщо послідовно вводиться символ і число (або навпаки), пропуск треба записувати тільки в тому випадку, коли символ (типу char) є цифрою;<br>
        -	 потік введення ігнорує пропуски;<br>
        -	для введення великої кількості даних одним оператором їх можна розташовувати в декількох рядках (використовуючи Enter);<br>
        -	  операція введення з потоку припиняє свою роботу тоді, коли всі включені до нього змінні одержують значення. Наприклад, для операції введення х і у, що вказана вище, можна ввести значення х та у таким чином:<br>
        2.345   789<br>
        або   2.345<br>
        789.<br>
        Оскільки в цьому прикладі пропуск є роздільником між значеннями, що вводяться, то при введенні рядків, котрі мiстять пропуски у своєму складі, цей оператор не використовується. У мові C++ бажано здійснювати потокові введення-виведення даних
    </p>
    <p class="subTheme">Потокове виведення даних</p>
    <p class="regular">
        Для потокового виведення даних необхідна операція «&lt&lt» («записати в»), що використовується разом з ім’ям вихідного потоку cout. Наприклад, вираз<br>
        cout &lt&lt х;<br>
        означає виведення значення змінної х (або запис у потік). Ця операція вибирає необхідну функцію перетворення даних у потік байтів.<br>
        Формат запису операції виведення представляється як:<br>
        cout &lt&lt data [&lt&lt data1];,<br>
        де data, data1 — це змінні, константи, вирази тощо.<br>
        Потокова операція виведення може мати вигляд:<br>
        cout &lt&lt “у =” &lt&lt x + а – sin(x) &lt&lt “\n“;.<br>
        <br>
        Застосовуючи логічні операції, вирази треба брати в дужки:<br>
        cout &lt&lt “р =” &lt&lt (а && b || с) &lt&lt “\n“;.<br>
        Символ переведення на наступний рядок записується як рядкова константа, тобто “\n”, інакше він розглядається не як символ керуючої послідовності, а як число 10 (код символу). Таких помилок можна уникнути шляхом присвоювання значення ке­руючих символів змінним, тобто:
    </p>
    <p class="code">
        #define &lt&lt sp " "<br>
        #define &lt&lt ht "\t"<br>
        #define &lt&lt hl "\n".<br>             
    </p>
    <p class="regular">
        cout &lt&lt “у =” &lt&lt x + а – sin(x)&lt&lt hl; .<br>
        Слід пам’ятати, що при виведенні даних з використанням «cout &lt&lt» не виконується автоматичний перехід на наступ­ний рядок, для реалізації такого переходу застосовується так переведення рядка “\n” або операція endl. Тобто, вивести рядкову константу можна, наприклад, так:<br>
    </p>
    <p class="code">
        cout &lt&lt “Студенти НАУ! \n“;<br>
        або<br>
        cout &lt&lt “Студенти НАУ!” &lt&lt endl;.<br>                
    </p>
{% endblock main %}
{% block anchors %}
<a href="#subTheme1_5_1">Потоки</a>
<a href="#subTheme1_5_2">Потокове введення даних.</a>
<a href="#subTheme1_5_3">Потокове виведення даних</a>
{% endblock anchors %}