{% extends "index.html" %}
{% load static %}

{% block main %}
    <p class="theme text">Тема 2. Процеси мови С++</p> 
    <p class="lesson text">Урок 3. Розгалуження</p>
    <p class="subTheme text" id = "subTheme2_3_1">Складена команда</p>      
    <p class="regular text">
        Під час написання програми може виникнути потреба трактувати декілька команд як одну. Така
        команда називається складеною. Складепа комаеда – це конструкція такого вигляду:
    </p>
    <p class="code">
        &ltкоманда 1 &gt ;<br>
        &ltкоманда N&gt ;<br>
        }<br>
    </p>
    <p class="regular text">
        Перед закриваючою дужкою ";" ставити обов'язково. Після дужки символ , записувати не обов'язково.<br>
        Увага! Запис ;; називається порожньою командою. Якщо у складеній команді поставити символ ";" після закриваючої дужки, то компілятор це розглядатиме як порожню команду, що не впливає на результат виконання програми.<br>
        Надалі під командою будемо розуміти порожню, просту або складену команду.<br>
        Кома як команда. Кому як команду використовують тоді , коли необхідно інтерпретувати декілька виразів або команд як одне ціле. Вона має вигляд
    </p>
    <p class="code">
        вираз 1, вираз 2<br>
    </p>
    <p class="regular text">
        або
    </p>
    <p class="code">
        команда 1, команда 2<br>
    </p>
    <p class="regular text">
        Дія команди. Послідовно обчислюються значення виразу 1(виконується команда 1) та виразу 2 (команда 2).<br>
        Цю команду зручно використовувати у командах циклу, умовних командах тощо. Наприклад,<br>
        if (k += 2, k &lt 7) .. .<br>
        Тут спочатку значення змінної k буде збільшено на 2, а потім це значення порівнюватиметься із числом 7. Результат команди - true, якщо значення змінної k менше, ніж 7, у протилежному випадку- false .
    </p>
    <p class="subTheme text" id = "subTheme2_3_2">Логічні вирази та логічні операції</p> 
    <p class="regular text">
        Логічний вираз - це засіб записування умов у задачах відшукання даних, що задовольняють деякий критерій. Логічний вираз може набувати значення true (істинність) або false (хибність). Логічні вирази бувають прості та складені. Простий - це два арифметичні вирази, з'єднані символом відношення, а складений це прості логічні вирази, з'єднані логічними операціями:
        1) ! -не,
        2) && -і,
        3) 11 -або.
        Логічні вирази обчислюються з урахуванням пріоритету логічних операцій (1 - найвищий). Однакові логічні операції виконуються послідовно зліва направо. Для зміни порядку виконання логічних операцій, як і для звичайних арифметичних, використовують круглі дужки.        
    </p>
    <table class="regular">
        <tr>
            <th>Операція</th>
            <th>Відповідник</th>
            <th>Приклади</th>
        </tr>
        <tr>
            <th>! (унарна)</th>
            <th>not</th>
            <th>!b, !(c&gt1 && c&lt9)</th>
        </tr>
        <tr>
            <th>&&(бінарна)</th>
            <th>and</th>
            <th>a && b, a&gt1 && c&lt9</th>
        </tr>
        <tr>
            <th>|| (бінарна)</th>
            <th>or</th>
            <th>a||b, c&lt0 || c&gt10</th>
        </tr>
    </table>
    <p class="regular text">
        Дія команди. Послідовно обчислюються значення виразу 1(виконується команда 1) та виразу 2 (команда 2).<br>
        Цю команду зручно використовувати у командах циклу, умовних командах тощо. Наприклад,<br>
        if (k += 2, k &lt 7) .. .<br>
        Тут спочатку значення змінної k буде збільшено на 2, а потім це значення порівнюватиметься із числом 7. Результат команди - true, якщо значення змінної k менше, ніж 7, у протилежному випадку- false .
    </p>
    <table class="regular">
        <tr>
            <th>B</th>
            <th>!B</th>
        </tr>
        <tr>
            <th>true(1)</th>
            <th>false(0)</th>
        </tr>
        <tr>
            <th>false(0)</th>
            <th>true(1)</th>
        </tr>
    </table>
    <p class="regular text">
        Операція and:
    </p>
    <table class="regular">
        <tr>
            <th>&&</th>
            <th>true(1)</th>
            <th>false(0)</th>
        </tr>
        <tr>
            <th>true(1)</th>
            <th>true(1)</th>
            <th>false(0)</th>
        </tr>
        <tr>
            <th>false(0)</th>
            <th>false(0)</th>
            <th>false(0)</th>
        </tr>
    </table>
    <p class="regular text">
        Операція or:
    </p>
    <table class="regular">
        <tr>
            <th>||</th>
            <th>true(1)</th>
            <th>false(0)</th>
        </tr>
        <tr>
            <th>true(1)</th>
            <th>true(1)</th>
            <th>true(1)</th>
        </tr>
        <tr>
            <th>false(0)</th>
            <th>true(1)</th>
            <th>false(0)</th>
        </tr>
    </table>
    <p class="subTheme text" id = "subTheme2_3_3">Тернарна операція</p>
    <p class="regular text">
        Тернарна (від лат. tri — «три») операція — операція, що має 3 операнда. Використовується як альтернатива запису умовного опертора.<br>
        Операція має три операнди.<br>
        Синтаксис тернарної операції:<br>
    </p> 
    <p class="code">
    ? :           B ? V1 : V2.<br>
    </p>
    <p class="regular text">    
        Виконання:<br>
        1. Спочатку обчислюється значення виразу B.<br>
        2. Якщо B==true(1), то обчислюється значення виразу V1,
        інакше - обчислюється значення виразу V2.<br>
        Увага! Для читабельності  рекомендується брати у круглі дужки умову та вирази.
        Приклад 6. Запис тернарної операції.
    </p>
    <p class="code">
        (i &lt 1) ? 1 : i;<br>
        max = (a&lt=b) ? b : a;<br>    
        х&lt0 ? -x : x ;<br>
    </p>
    <p class="regular text">
        Операція кома  (,)
        Операція кома надає можливість розглядати  декілька виразів як один.
        Синтаксис:<br> <br> 
        вираз1, вираз2<br> <br> 
        Приклад 7. Операція кома<br> <br> 
        i=10, j=5<br> <br> 
        Виконання:<br> 
        Обчислюється значення виразу V1 і тільки після завершення обчислення V1 обчислюється вираз V2. Результат – значення виразу V2 (останнього). Операція зручна у тих випадках, коли за синтаксисом має бути один вираз, а треба обчислити декілька.
    </p>
{% endblock main %}

{% block anchors %}
<div class="anchors">
    <a href="#subTheme2_3_1">Складена команда</a>
    <a href="#subTheme2_3_2">Логічні вирази та логічні операції</a>
    <a href="#subTheme2_3_3">Тернарна операція</a>
</div>
{% endblock anchors %}  