{% extends "index.html" %}
{% load static %}

{% block main %}
            <p class="theme text">Тема 3. Цикли та функції мови С++</p>
            <p class="lesson text">Урок 2. Знайомство з функцією </p>
            <p class="subTheme text" id="subTheme3_2_1">Функції в мові С++</p>
            <p class="regular text">
                Мова програмування С++ дає можливість реалізувати концепцію структурного аналізу алгоритмів. Структурпий аналіз полягає у
                попередньому опрацюванні складної задачі чи громіздкого алгоритму та поділі його на окремі простіші частини. У С++ ці частини
                реалізуються за допомогою функцій. Окремі функції об'єднують у спільну програму. У відкомпільованому вигляді така програма
                утворює модуль. Головна функція, що обов'язково входить до кожної програми - main(). Розрізняють стандартні функції та функції
                користувача. Стандартні функції мови описані (визначені) у бібліотеках. До таких функцій, зокрема, належать математичні функції
                sin(), cos() з бібліотеки math.h, функція очистки екрана clrscr() з бібліотеки conio.h та багато інших. Деякі з цих функцій
                вивчатимемо у цій книжці, інші описані у довідниках. Функція користувача - це поіменована група команд, яка оголошена у файлі
                загоЛовків (або в основній програмі) та описана у модулі (в основній програмі). До функції можна звертатись (викликати) з
                будь-якого місця програми необхідну кількість разів. Прості програми, які розглядалися вище, не потребують використання
                функцій користувача.
            </p>
            <p class="subTheme" id="subTheme3_2_2">Оголошення функцій користувача</p>
            <p class="regular">
                Кожну функцію користувача перед першим викликом передусім необхідно оголосити (задекларувати, створити прототип , сигнатуру).
                За стандартом ISO/ ANSI прототипи функцій оголошують у спеціальних файлах заголовків. У програму ці файли приєднують за
                допомогою директиви #include, наприклад :<br>
                #include &lt conio.h &gt<br>
                #include "MyHeader.h"<br>
                Прототипи стандартних функцій розміщені у папці INCLUDЕ. Синтаксис мови дає змогу розмістити прототип також і в основній програмі.
                Функцію користувача оголошують так:<br>
                <тип функції> <назва функції> (<список формальних параметрів>);<br>
                де тип функції - це тип даного, який функція повертає в основну програму. Тип функції можна не зазначати. За замовчуванням
                функція повертає у програму дане цілого типу int. Функцію, яка не повертає у програму жодного результату, оголошують з типом void.
                Для функції, яка не залежить від жодних параметрів, у круглих дужках записують службове слово void.
                Назву функції надає користувач за правилом створення ідентифікаторів.
                У списку формальних параметрів через кому записують змінні, зазначаючи їхні типи. Тип необхідно зазначати для кожної змінної
                окремо. Імена змінних можна опускати. Якщо функція не набуває жодних значень, то список формальних параметрів може бути відсутній.
                Круглі дужки опускати не можна.<br>
                <br>Приклад 1. Розглянемо сигнатури функцій
                <p class="code">
                float Suma(int kil, float cina);<br>
                void dilennya(float, float);<br>
                kod(int k1, int k2);<br>
                double loto(void);<br>
                </p>
                <p class="regular">
                У цьому випадку оголошена функція Suma типу float, яка залежить від двох змінних: перша змінна цілого типу int, друга - типу float.
                Функція drib залежить від двох змінних дійсного типу float і не повертає у програму жодного значення. Ціла функція kod залежить від
                двох змінних цілого типу, дійсна функція loto типу double не залежить від жодних параметрів.<br>
                Під час оголошення можна відразу ініціалізувати формальні параметри функції, тобто надавати їм певних значень.<br>
                Такі значення називаються значеннями за замовчуванням. Їх записують у кінці списку. Значення таких параметрів у програмі можна <br>
                змінювати. Враховуючи це, розглянемо ще один спосіб оголошення функцій, наведених у прикладі 1.<br>
                </p>
                <p class="code">
                float Suma(int kil, float cina = 2.5);<br>
                void dilennya(float v = 1.2, float n = З);<br>
                kod(int k1, int k2 = 5);<br>
                </p>

            <p class="subTheme" id="subTheme3_2_3"> Опис функцій користувача</p>
            <p class="regular">
                Опис функції складається із заголовка без крапки з комою і тіла функції, записаного у фігурних дужках, а саме:<br>
                <тип функції> <назва функції>(<список формальних параметрів>)<br>
                {<br>
                <тіло функції>;<br>
                return (<назва змінної 1 >);<br>
                }<br>
                У тілі функції записують команди, які задають дію функції. Результат виконання функції повертається в основну програму
                (у точку виклику) за допомогою змінної 1 командою return. Тип змінної 1 має збігатися з типом функції. У тілі функцій типу void
                команду return не зазначають. У команді return круглі дужки можна не писати.<br>
                Увага! Функцію можна описувати і на початку програми. У такому випадку декларувати її не потрібно.<br>
                <br>Приклад 2. Функції Suma і dilennya, оголошені у прикладі 1, у деякій програмі можна описати так:
            </p>
            <p class="code">
                float Suma(int kil, float cina) //Заголовок функції<br>
                {<br>
                float s = kil * cina;<br>
                return (s); //Значення, яке повертає функція в основну програму<br>
                } <br>
                //-----------------------------------------------------<br>
                void dilennya (float v, float n)<br>
                {<br>
                cout << "\n dilennya = " << v / n;<br>
                }<br>
                <p>
                <p class="regular">
                Якщо потрібно проініціалізувати значення змінних, що входять у функцію, то це можна зробити у снгнатурі функції. Тоді в описі у заголовка функці
                значення за замовчуванням не задають.<br>
                <br>Приклад 3. Сгнатуру функції, яка обчислює периметр k-кутної правильної фігури зі стороною r, можна оголосити так:<br>
                float perymetr (int k = 4, float r = 2.5);<br>
                а описати власне функцію так:
                </p>
                <p class="code">
                float perymetr (int k, float r)<br>
                {<br>
                float р;<br>
                р = k * r;<br>
                return (р);<br>
                }<br>
                </p>
{% endblock main %}

{% block anchors %}
            <a href="#subTheme3_2_1">Функції в мові С++</a>
            <a href="#subTheme3_2_2">Оголошення функцій користувача</a>
            <a href="#subTheme3_2_3">Опис функцій користувача</a>
{% endblock anchors %}