{% extends "index.html" %}
{% load static %}
{% block main %}
            <p class="theme text">Тема 1. Основні поняття  мови С++</p>
            <p class="lesson text">Урок 1. Ознайомлення з мовою програмування </p>
            <p class="subTheme text">Стандарт мови.</p>
            <p class="regular text">Мову програмування С++ на початку 80-х років створив Бьяртні Страуструп на базі популярної
                серед професіоналів-програмістів мови С, яку розробив Деніс Рітчі . Мова одержала назву відСта операції
                інкременту(++), визначеної лише у ній. Така операція збільшує на одиницю значення змінної, до якої її
                застосовують. С++ є розширенням мови С. Окрім стандартних команд, сюди увійшли засоби для
                об'єктно-орієнтованого й узагальненого програмування. С++ - це перша у світі мова об'єктноорієнтованого
                програмування, суть якого полягає в об'єднанні даних та алгоритмів їх опрацювання у єдине ціле. У
                загальнене програмування, яке також підтримується мовою С++, - це ще один спосіб програмування, де код
                програми створюють незалежно від типу даних, що суттєво, наприклад, для задач упорядкування даних,
                об'єднання списків тощо. Оскільки С++ є розширенням мови С, то всі програми, складені мовою С, коректно
                транслюються компіляторами С++, тому що бібліотеки, які належать до складу мови С, є також і в С++.
                Текст будь-якої програми складається з команд, описів змінних, сталих, приєднань бібліотек тощо. Такий
                текст часто називають програмпим кодом. Програмний код необхідно перекласти на внутрішню мову
                комп'ютера, тобто створити машинний код. Цю операцію виконує компілятор мови програмуваппя. Для
                комп'ютерів різних класів, а також для різних операційних систем створено багато компіляторів мови С++.
                Наприклад, АТ&Т Release 3.0 С++ (використовується операційною системою Unix), Turbo С++, Borland С++ 3.1
                (для MS DOS), Borland С++ Builder (візуальне програмування у Windows), Metrowerks Code Warrior, Symantec
                С++ (використо вується на комп'ютерах фірми Macintosh).
                Програми, складені мовою С++, є мобільними, тобто можуть бути виконані на комп'ютерах різних виробників
                і в різних операційних системах, завдяки чому С++ є особливо популярною. Для узгодження всіх реалізацій
                мови у 1990 році Американський інститут національних стандартів (ANSI) створив комітет для прийняття
                стандарту мови С++. Пізніше відповідна комісія була Створена й у Міжнародній організації стандартів
                (ISO). Ці дві організації, які називаються ISO/ANSI, у 1998 році виробили остаточний міжнародний
                стандарт для С++. У книжці мова розглядатиметься згідно із стандартом ISO/ ANSI.
            </p>
            <p class="subTheme">Алфавіт і ключові слова.</p>
            <p class="regular">
                Мови програмування, як і розмовні, мають · власний алфавіт - набір допустимих символів. Алфавіт мови С++ складається з:
                • великих і малих лі тер латинського алфавіту: "А", ... , "Z", "а", ... , "z"; • цифр О, 1, ... , 9;
                • спеціальних символів: " ' ( ) [ ] { } < > . , ; : ? ! - '~ + - =І\ І# % $ & -л@ та символу підкреслення_.
                Програми складаються із синтаксичних конструкцій, які називаються комапдами (інші назви - оператори, вказівки, речення). Команди будуються з лексем-неподільних елементів мови: слів, чисел, символів операцій. Слова щщіляють на ключові слова й ідентифікатори. Ідентифікатор - це назва (ім'я), яку користувач надає об'єктам, наприклад, змінним, сталим, функціям. Усі слова можуть складатися з рядкових чи прописних літер англійського алфаві'І'У, цифр, а також містити символ підкреслення. Ідентифікатор завжди починається з букви або із символу підкреслення.
                 Увага! Однакові за змістом малі та великі літери у мові С++ вважаються різ1-1.и.ми символами. Наприклад, імена MyName та myname позначають різні об'єкти.
                Зарезервовані ідентифікатори називаються ключовими словами. Вони використовуються для написання команд. Змінити призначення ключового слова у програмі не можна. Основні ключові слова мови С++:
                 asm 		else		enum		 mutable 		new
                auto 		operator		 switch		 template
                bооІ		this 		explicit		 private 		throw
                double		extern 		protected		 try
                float		 public		 typedef		 for		 register		 typename 		class 		friend 		return 		union
                 const 		 short 		unsigned 		continue 		if
                signed		 virtual default 		inline		 sizeof		 void
                delete		 int		 static 		volatile		 do
                 long 		struct 		while

            </p>
{% endblock main %}