{% extends "index.html" %}
{% load static %}
{% block main %}
<p class="theme text">Тема 1. Основні поняття мови С++</p>
<p class="lesson text">Урок 1. Ознайомлення з мовою програмування </p>
<p class="subTheme text" id="subTheme1_1_1">Стандарт мови.</p>
<p class="regular text">Мову програмування С++ на початку 80-х років створив Бьяртні Страуструп на базі
    популярної
    серед професіоналів-програмістів мови С, яку розробив Деніс Рітчі . Мова одержала назву відСта операції
    інкременту(++), визначеної лише у ній. Така операція збільшує на одиницю значення змінної, до якої її
    застосовують. С++ є розширенням мови С. Окрім стандартних команд, сюди увійшли засоби для
    об'єктно-орієнтованого й узагальненого програмування. С++ - це перша у світі мова об'єктноорієнтованого
    програмування, суть якого полягає в об'єднанні даних та алгоритмів їх опрацювання у єдине ціле. У
    загальнене програмування, яке також підтримується мовою С++, - це ще один спосіб програмування, де код
    програми створюють незалежно від типу даних, що суттєво, наприклад, для задач упорядкування даних,
    об'єднання списків тощо. Оскільки С++ є розширенням мови С, то всі програми, складені мовою С, коректно
    транслюються компіляторами С++, тому що бібліотеки, які належать до складу мови С, є також і в С++.
    Текст будь-якої програми складається з команд, описів змінних, сталих, приєднань бібліотек тощо. Такий
    текст часто називають програмпим кодом. Програмний код необхідно перекласти на внутрішню мову
    комп'ютера, тобто створити машинний код. Цю операцію виконує компілятор мови програмуваппя. Для
    комп'ютерів різних класів, а також для різних операційних систем створено багато компіляторів мови С++.
    Наприклад, АТ&Т Release 3.0 С++ (використовується операційною системою Unix), Turbo С++, Borland С++ 3.1
    (для MS DOS), Borland С++ Builder (візуальне програмування у Windows), Metrowerks Code Warrior, Symantec
    С++ (використо вується на комп'ютерах фірми Macintosh).
    Програми, складені мовою С++, є мобільними, тобто можуть бути виконані на комп'ютерах різних виробників
    і в різних операційних системах, завдяки чому С++ є особливо популярною. Для узгодження всіх реалізацій
    мови у 1990 році Американський інститут національних стандартів (ANSI) створив комітет для прийняття
    стандарту мови С++. Пізніше відповідна комісія була Створена й у Міжнародній організації стандартів
    (ISO). Ці дві організації, які називаються ISO/ANSI, у 1998 році виробили остаточний міжнародний
    стандарт для С++. У книжці мова розглядатиметься згідно із стандартом ISO/ ANSI.
</p>
<p class="subTheme" id="subTheme1_1_2">Алфавіт і ключові слова.</p>
<p class="regular">
    Мови програмування, як і розмовні, мають · власний алфавіт - набір допустимих символів. Алфавіт мови С++
    складається з:
    • великих і малих лі тер латинського алфавіту: "А", ... , "Z", "а", ... , "z"; • цифр О, 1, ... , 9;
    • спеціальних символів: " ' ( ) [ ] { } <> . , ; : ? ! - '~ + - =І\ І# % $ & -л@ та символу
        підкреслення_.
        Програми складаються із синтаксичних конструкцій, які називаються комапдами (інші назви - оператори,
        вказівки, речення). Команди будуються з лексем-неподільних елементів мови: слів, чисел, символів
        операцій. Слова щщіляють на ключові слова й ідентифікатори. Ідентифікатор - це назва (ім'я), яку
        користувач надає об'єктам, наприклад, змінним, сталим, функціям. Усі слова можуть складатися з
        рядкових чи прописних літер англійського алфаві'І'У, цифр, а також містити символ підкреслення.
        Ідентифікатор завжди починається з букви або із символу підкреслення.
        Увага! Однакові за змістом малі та великі літери у мові С++ вважаються різ1-1.и.ми символами.
        Наприклад, імена MyName та myname позначають різні об'єкти.
        Зарезервовані ідентифікатори називаються ключовими словами. Вони використовуються для написання
        команд. Змінити призначення ключового слова у програмі не можна. Основні ключові слова мови С++:
</p>
<table class="regular">
    <tr>
        <th>asm</th>
        <th>else</th>
        <th>enum</th>
        <th>multable</th>
        <th>new</th>
    </tr>
    <tr>
        <th>auto</th>
        <th>operator</th>
        <th>swithc</th>
        <th>template</th>
        <th>while</th>
    </tr>
    <tr>
        <th>boll</th>
        <th>this</th>
        <th>explicit</th>
        <th>private</th>
        <th>throw</th>
    </tr>
    <tr>
        <th>double</th>
        <th>extern</th>
        <th>proctected</th>
        <th>try</th>
        <th>do</th>
    </tr>
</table>
<p class="code">
    #include <iostream.h><br>
        void main()<br>
        {<br>
        int *с1 = new int ; // Готуємо пам’ять для цілого числа<br>
        *с1 = 5; // Змінна *с1 набуває значення 5<br>
        int *с2 = new int(7) ; // Виділяється пам’ять для с2 і *с2 набуває значення 7<br>
        cout << *с1 << "\t" << *с2 << "\n" ; // Виводимо 5 та 7<br>
            // Переадресація- с1 вказуватимемо на ту саму<br>
            с1 = с2; // ділянку пам'яті, що і с2<br>
            cout << *с1 << "\t" << *с2 << "\n" ;<br>
                delete(c2);<br>
                // Виводимо 7 та 7<br>
                // Пам'ять, надану для с2, вивільняємо<br>
                cout << *с1 << "\n" ; // Виводимо 7<br>
                    }<br>
</p>
<p class="subTheme" id="subTheme1_1_3">Директиви препроцесора.</p>
<p class="regular">
    Препроцесор - це програма, яка опрацьовує директиви. Директиви препроцесора - це команди компілятора
    відповідної мови програмування, які виконуються на початку компіляції програми. Директиви мови С++
    починаються з символу #. Розглянемо декілька типів директив.
    Директива #include означає, що до програми необхідно приєднати програмний код із зазначеного після неї
    файлу. Файли, які приєднують директивою #include, називаються файлами заzоловків (hеаdеr-файлами,
    бібліотеками, модулями). У таких файлах зазвичай оголошують сталі й змінні, заголовки (сигнатури)
    функцій тощо.
    Усі стандартні команди та функції мови С++ визначенні у файлах заголовків. Щоб приєднати модуль до
    програми користувача, директиву препроцесора необхідно зазначити на початку програми так:<br>
    #include &lt назва файлу.розширення &gt
    або так:<br>
    #include "шлях до файлу \ назва файлу розширення"<br>
    Зазвичай усі стандартні бібліотеки розміщені у папці INCLUDE середовища C++ . У такому випадку назва файлу є
    параметром директиви, її зазначають у кутових дужках < ...> , наприклад<br>
        #include &lt math.h &gt <br>
        Якщо ж потрібний файл розміщений не у папці INCLUDE, то назву файлу із зазначенням шляху пишуть у лапках" ... ".
        Наприклад, якщо деякий файл MyBib.h є у папці stud на диску d:, то треба писати так:<br>
        #include "d:\stud\MyBib.h".<br>
        Увага! Згідно зі стандартом ISO/ANSI файли заголов¬ків у директиві #include прийнято записувати без розширення.
        наприклад #include &lt math.h &gt. Файли заголовків мови С, які використовуються у С++-програмах, починаються з
        літери с, наприклад #include &lt cstdio &gt . Ця можливість реалізована у сучасних компіляторах мови.<br>
        Директива #define має подвійне значення. По-перше, вона може задати стале значення (оголошує сталу). Наприклад,
        якщо у програмі задано #define N 25, то N під час виконання програми матиме значення 25. По-друге, вона дає
        змогу описати макроси - короткі команди (переозначити команди) чи записати функції, наприклад, так:<br>
        #define D(a, b, с) ((b) * (b) - 4 * (а) * (с)).<br>
        Тепер скрізь для обчислення дискримінанта замість команди<br>
        d=b*b-4*a*c<br>
        можна записувати <br>
        d = D(a, b ,с).<br>
        Директива #undef скасовує дію директиви #define. Наприклад,<br>
        #define D(a,b,c) ((b) * (b) - 4 * (а) * (с)) <br>
        #undef D <br>
        #define D(a,b,c) ((а) • (b) • (с))<br>
</p>
{% endblock main %}
{% block anchors %}
<a href="#subTheme1_1_1">Стандарт мови</a>
<a href="#subTheme1_1_2">Алфавіт і ключові слова.</a>
<a href="#subTheme1_1_3">Директиви препроцесора. </a>
{% endblock anchors %}