{% extends "index.html" %}
{% load static %}

{% block main %}
<p class="theme text">Тема 3. Цикли та функції мови С++</p>
            <p class="lesson text">Урок 4.Продовження вивчення функції (2) </p>
            <p class="subTheme text" id="subTheme3_4_1">Глобальні та локальні змінні. Операція видимості</p>
            <p class="regular text">
                Під час оголошення змінних в оперативній пам'яті комп'ютера резервується місце для зберігання їхніх значень. Обсяг наданої пам'яті
                залежить від типів змінної та компілятора. Кожна змінна характеризується областю дії та областю видимості. Область дії- це частина
                програми, де змінна придатна для повноцінного опрацювання. Область видимості- це частина програми, де змінна оголошена або, де до неї
                можна отримати доступ за допомогою операції надання видимості, що позначається "::". Змінні можна оголошувати у блоці команд, у тілі
                деякої функції або поза всіма функціями (глобальні змінні). Області дії та можливої видимості, час дії змінної у певній програмі залежать
                від того, де і як оголошені змінні. Змінні, які оголошені у тілі деякої функції або у блоці, називаються локальиими. Область дії локальних
                змінних поширюється лише на відповідну функцію чи блок. Під час виходу із функції (блока) частина оперативної пам'яті, відведеної під
                локальні змінні, вивільняється, тобто закінчується область дії змінної. Тому у різних функціях можна використовувати змінні з однаковими
                іменами.<br>
                <br >Приклад 8. Скласти програму з використанням функції, яка знаходить максимальне серед трьох
                введених чисел.
            </p>
            <p class="code">
                #include &lt iostream.h &gt <br>
                    #lnclude &lt conio.h &gt<br>
                    float Max(float, float, float); // Оголошення функції <br>
                    void main()<br>
                    {<br>
                    clrscr();<br>
                    float max, х1, х2, хЗ; // Оголошення змінних<br>
                    cout  &lt&lt "Уведіть три числа \n";<br>
                    cin >> х1 >> х2 >> хЗ;<br>
                    max = Мах(х1, х2, хЗ); // Обчислюємо максимальне серед уведених чисел<br>
                    cout &lt&lt "\n Максимальним серед чисел &lt&lt х1 &lt&lt "," &lt&lt х2 &lt&lt ", &lt&lt хЗ;<br>
                    cout &lt&lt "є&lt&lt max;<br>
                    getch();<br>
                    }<br>
                     //----------------------------------------------<br>
                     float Max(float а, float b, float с) // Опис функції Мах<br>
                    {<br>
                    float max;<br>
                    if (а> b && а> с) max =а;<br>
                    else<br>
                    if (b> a && b> с) max = b;<br>
                            else max = c;<br>
                    return max;<br>
                    }<br>
            </p>
            <p class="subTheme" id="video6">Відео пояснення</p>
            <video  controls >
              <source src="{% static 'video/6.mp4' %}" type="video/mp4">
          </video>
            <p class="regular">
                Зауважимо, що у цій програмі змінна max оголошена відразу у двох функціях main() і Мах().
                Змінні, які описані поза всіма функціями, тобто на початку програми або у файлі заголовка, називають глобальпими. Вони видимі та
                доступні під час виконання всієї програми. До таких змінних можна звернутись з будь-якої функції чи блока.<br>
               Функція може повертати значення у основну програму за допомогою команди return, вказівників, посилань або через глобальні змінні.
               Значення глобальних змінних можна змінювати у тілі функцій. З огляду на це у великій програмі важко проаналізувати значення глобальної
                змінної на певному етапі її виконання. Тому варто якомога менше використовувати глобальні змінні, бо це ускладнює розуміння програми.<br>
               Деяка змінна може бути доступною, але в певний момент невидимою. Наприклад, якщо глобальна та локальна змінні мають однакове ім'я, то
               глобальна змінна у області дії відповідної локальної змінної буде невидимою. Тобто локальна змінна на в області своєї визначеності
               перекриває дію глобальної змінної. Для того, щоб звернутись (доступитись) до глобальної змінної у деякому блоці чи функції, використовують
                операцію надання видимості ::. У цьому випадку до імені змінної зліва дописують два символи двокрапки. Наприклад, ::prybutok, ::day тощо.<br>
               <br>Приклад 9. Відомо, що потяг проїхав 5 (k) станцій зі сталою швидкістю v км/год. Час, затрачений на переїзд між станціями, та швидкість потягу
               треба ввести з клавіатури у режимі діалогу. Використовуючи функцію, визначити загальний шлях, який пройшов потяг, і відстані між станціями.
            </p>
            <p class="code">
                #include &lt iostream.h &gt <br>
                    #lnclude &lt conio.h &gt<br>
                    float d = 0; // Оголошення глобальної змінної d<br>
                    void main()<br>
                    {<br>
                    int k = 5; float v, t;<br>
                    cout &lt&lt "Уведіть швидкість nотягу \n";<br>
                    cin >> v;<br>
                    for (int n = 1 ; n &lt = k; n++)<br>
                    {<br>
                    cout &lt&lt "\nУведіть час, який затратив потяг";<br>
                    cout &lt&lt " на переїзд між зупинками " &lt&lt n;<br>
                    cout &lt&lt "та " &lt&lt (n+ 1) &lt&lt "\n";<br>
                    cin >> t;<br>
                    float d; // Оголошення локальної змінної d<br>
                    d = t * v;<br>
                    cout &lt&lt "Відстань від станції " &lt&lt n &lt&lt " до " &lt&lt (n+1) &lt&lt  "  є " &lt&lt d &lt&lt '' км'';<br>
                    ::d = ::d + d; // Звертання до глобальної змінної<br>
                    }<br>
                    cout &lt&ltn Загальний шлях " &lt&lt d &lt&lt " км ";<br>
                    }<br>

            </p>
            <p class="regular text">
            У цьому випадку змінна d, яка оголошена на початку програми, є глобальною. У блоці команди for оголошена локальна змінна d.<br>
            Увага! Для динамічних змінних не діють правила видимості та доступності. Динамічні змінні видимі та доступні у всіх функціях та
            блоках програми протягом усього часу їх визначеності.
            </p>
          <p class="subTheme" id="subTheme3_4_2"> Класи пам'яті</p>
        <p class="regular text">
            Для того, щоб безпосередньо вказати комп'ютеру як і де у його пам'яті мають зберігатися значення змінних чи функцій, як можна отримати
            доступ до цих даних, як визначити область видимості цих даних, використовують специфікатори класу пам'яті. Є п'ять специфікаторів. <br>
        </p>
        <table class="regular text" > <!--Намалювати таблицю -->
            <tr>
             <th>Класи пам’яті</th>
             <th>Час дії змінної </th>
             <th>Області видимості та дії змінної</th>
            </tr>
            <tr>
             <td>Auto</td>
             <td>Тимчасова </td>
             <td>Локальна </td>
           </tr>
           <tr>
            <td>Register</td>
            <td>Тимчасова </td>
            <td>Локальна </td>
          </tr>
          <tr>
            <td>Extern</td>
            <td>Тимчасова </td>
            <td>Локальна </td>
          </tr>
          <tr>
            <td>Static</td>
            <td>Постійно </td>
            <td>Локальна </td>
          </tr>
          <tr>
            <td>Static</td>
            <td>Постійно </td>
            <td>Глобальна </td>
          </tr>
          <tr>
            <td>Violatile</td>
            <td>Постійно </td>
            <td>Глобальна </td>
          </tr>
          </table>

        <p class="regular text">
            Розглянемо дії цих специфікаторів. <br>
            Специфікатор auto для локальних змінних застосовується за замовчуванням, тому зазначати його не обов'язково. Область видимості таких
             змінних обмежена блоком, у якому вони оголошені. Під час виходу з блока пам'ять, яка відведена для цих змінних, автоматично вивільняється,
             а змінні знищуються.<br>
            Специфікатор register вказує компілятору, що значення змінної слід зберігати у регістрах. Це зменшує час доступу до змінної і
            прискорює виконання програми. Якщо не можливо розмістити змінну у регістрі, то змінна буде збережена зі специфікатором auto.
            Області дії та видимості регістрових змінних, як і змінних зі специфікатором auto, обмежені блоком, у якому вони оголошені.<br>
            Специфікатор static можна застосовувати як до локальних, так і до глобальних змінних. На відміну від змінних зі специфікаторами auto
            чи register значення локальної статичної змінної зберігається після виходу з блока чи функції, де ця змінна оголошена. Під час
            повторного виклику функції змінна зберігає своє попереднє значення. Якщо змінна явно не ініціалізована, то за замовчуванням їй
            надається значення 0.<br>
            <br>Приклад 10. Обчислити суму або добуток перших n цілих додатних чисел .<br>
            Обчислимо спочатку суму чисел.<br>
            // Обчислення суми<br>
        </p>
        <p class="code">
            #include &lt iostream.h &gt <br>
            #lnclude &lt conio.h &gt<br>
                cc(int n);<br>
                void main()<br>
                {<br>
                clrscr();<br>
                int n, S;<br>
                cout &lt&lt "Уведіть число";<br>
                cin >> n;<br>
                for(int і= 1; і&lt= n; і++) S = сс(і);<br>
                cout &lt&lt S;<br>
                getch();<br>
                }<br>
                //------------------------·····························<br>
                cc(int n)<br>
                {<br>
                static int S = 0; // Цей рядок буде виконано лише один раз під час першого виклику функції<br>
                S +=n;<br>
                return S;<br>
                }<br>
        </p>
        <p class="regular">
                Функція сс призначена для обчислення суми чисел. Якщо ж потрібно обчислити добуток чисел, то фунція main() залишиться без змін,
                а замість функції cс слід записати таку функцію:<br>
        </p>
        <p class="code">
                cc(int n)<br>
                {<br>
                static int S = 1;<br>
                S *= n;<br>
                return S;<br>
                }<br>
        </p>
         <p class="regular">
            Глобальні статичні змінні ініціалізуються під час запуску програми. Області їх дії та видимості розповсюджуються лише на той файл,
            де оголошена ця змінна. Часто, якщо програма складається з декількох файлів, виникає потреба передавати значення змінних з одного
            файлу в інший. У такому випадку до змінної застосовують специфікатор extern. Він дає змогу оголошувати глобальні змінні, дія яких
            поширюється на всі файли, з яких складається програма. Специфікатор volatile застосовують до глобальних змінних, значення яких можуть
            надходити від периферійних пристроїв, наприклад, якщо змінна набуває значення від системного таймера.
        </p>
        <p class="subTheme" id="subTheme3_4_3"> Перевантаження функцій</p>
        <p class="regular text">
            У мові С++ допускається використовувати одне і те саме ім'я функції для різних наборів аргументів. Це називається перевантаженням
            функцій, або поліморфізмом. Перевантаження використовують, коли необхідно викликати функцію з аргументами різних типів, або коли
            функція залежить від різної кількості аргументів. У таких випадках необхідно кожну функцію оголосити й описати окремо. Під час її
            виклику компілятор автоматично проаналізує сигнатури та виконає код відповідної функції.<br>
            <br>Приклад 11. Використовуючи перевантаження функції, скласти програму для упорядкування трьох уведених даних або символьного, або цілого типу.<br>
        </p>
        <p class="code">
            #include &lt iostream.h &gt <br>
            void Sort(int n1, int n2, int nЗ);<br>
            void Sort(char n1, char n2, char nЗ);<br>
            void main()<br>
            {<br>
            int і1, і2, іЗ, k;<br>
            char с1, с2, сЗ;<br>
            cout &lt&lt Уведіть 1 для впорядкування символів, 2- для чисел\n";<br>
            cin >> k;<br>
            if(k==1)<br>
            {<br>
            cout &lt&lt "Уведіть три символи";<br>
            cin >> с1 >> с2 >> сЗ;<br>
            Sort(c1, с2, сЗ);<br>
            }<br>
            if (k == 2)<br>
            {<br>
            cout &lt&lt "Уведіть три числа"; cin >> і1 >> і2 >> іЗ;<br>
            Sort(i1, і2 , іЗ);<br>
            }<br>
            }<br>
             //----------------------<br>
            void Sort(int n1, int n2, int nЗ)<br>
            {<br>
            int  c;<br>
            if (n1 > n2) {с = n1; n1 = n2; n2 =c;}<br>
            if (n2 > nЗ) {с = n2; n2 = nЗ; nЗ = с;}<br>
            if (n1 > n2) {с = n1 ; n1 = n2; n2 = с;}<br>
            cout &lt&lt n1 &lt&lt "\t" &lt&lt n2 &lt&lt "\t" &lt&lt nЗ ;<br>
            } <br>
            //---------------------- <br>
            void Sort(char n1, char n2, char nЗ)<br>
            {<br>
            char с;<br>
            if (n1 > n2) {с = n1; n1 = n2; n2 =c;}<br>
            if (n2 > nЗ) {с = n2; n2 = nЗ; nЗ = с;}<br>
            if (n1 > n2) {с = n1 ; n1 = n2; n2 = c;}<br>
            cout &lt&lt n1 &lt&lt "\t" &lt&lt n2 &lt&lt "\t" &lt&lt nЗ;<br>
            }<br>
        </p>
        <p class="regular text">Увага! Для функцій, які відрізняються типом значен¬ня, яке вони повертають, і мають однаковий набір аргументів , перевантаження у
        мові С++ не визначено, тобто їм надавати однакові імена не можна.<br>
        </p>
{% endblock main %}

{% block anchors %}
<div class="anchors lessonWithVideo">
            <a href="#video6">Відео урок</a>
            <a href="#subTheme3_4_1"> Глобальні та локальні змінні. Операція видимості</a>
            <a href="#subTheme3_4_2">Класи пам'яті</a>
            <a href="#subTheme3_4_3">Перевантаження функцій</a>
</div>
{% endblock anchors %}