{% extends "index.html" %}
{% load static %}
{% block main %}
<p class="theme">Тема 1. Основні поняття мови С++</p>
<p class="lesson">Урок 3. Типи даних</p>
<p class="subTheme" id="subTheme1_3_1">Загальні типи.</p>
<p class="regular">
    Усі дані, які беруть участь у розв'язуванні задачі, ретельно класифікують за типами. Тип визначає
    допустимі значення даного, операції, які можна над ним виконувати, й обсяг оперативної пам'яті, який
    резервується для нього.<br>
    Увага! Обсяг може залежати також від різновиду операційної системи комп'ютера. <br>
    Визначити, який обсяг пам'яті компілятор надає даному того чи іншого типу, можна за допомогою команди
    sіzеоf() . Наприклад, команда cout &lt&lt sizeof(short int) виведе на екран монітора цифру 2. Це
    означає, що дане типу short int займає у пам' яті комп'ютера 2 байти.<br>
    Числові дані поділяють на цілочисельні (цілі) та дійсні.<br>
    Цілі типи:<br>
</p>
<table class="regular">
    <tr>
        <th>Назва типу</th>
        <th>Обсяг байтів</th>
        <th>Діапазон допустимих значень</th>
    </tr>
    <tr>
        <th>Int</th>
        <th>2 або 4</th>
        <th>-32768 ... 32767 або -2147483648 ... 2147483647</th>
    </tr>
    <tr>
        <th>short int</th>
        <th>2</th>
        <th>-32768 ... 32767</th>
    </tr>
    <tr>
        <th>unsigned short int</th>
        <th>2 або 4</th>
        <th>0... 65535 або 0... 4294967295</th>
    </tr>
    <tr>
        <th>long int</th>
        <th>4</th>
        <th>-2147483648 ... 2147483647</th>
    </tr>
    <tr>
        <th>unsigned long int</th>
        <th>4</th>
        <th>0 ... 4294967295</th>
    </tr>
</table>
<p class="regular">
    Приклад 1. Оголосимо три змінні цілого типу:<br>
    int х, у; short int z;<br>
    На етапі компіляції для змінних х, у, z буде надано певний обсяг оперативної пам' яті. Надати
    значення цим змінним можна на етапі виконання рограми за допомогою команд присвоєння, наприклад,
    так: х = 157; у= -68; z = 15;. У ділянку пам яті, надану для змінної х, буде занесено число 1.57,
    для у- -68, а для z - 15. Під час виконання програми значення змінних можна змінювати. Наприклад,
    н:оманда присвоєння х = 2003 занесе у відповідну для змінної х ділянку пам'яті число 2003 (попереднє
    значення 157 вилучається автоматично).<br>
    Приклад 2. Сталі цілого типу можна оголосити так:<br>
</p>
<p class="code">
    const int а= 145;<br>
    const long int b = 365978.<br>
</p>
<p class="regular">
    Значення даних а та b у програмі змінювати не можна.<br>
    Приклад 3. Розглянемо фрагмент програми<br>
</p>
<p class="code">
    float h, рі = 3.1415926: double v = 365.976;<br>
    const float w = -12, h = 23.4;<br>
</p>
<p class="regular">
    Тут оголошено дві змінні (h, рі) типу float і змінну v типу double, а також сталі w = -12; h = 23.4<br>
    типу float. Дійсні числа можна записувати у форматі з фіксованою крапкою, наприклад -2.3, 5.0041,<br>
    або у науковому форматі (у форматі з рухомою крапкою), наприклад, -0.2е+2 (це є число - 20), 3.27е-3<br>
    (це є 0,00327). Запис ne ± m означає множення числа n на 10 у степені ± m, тобто за означенням<br>
    ne ± m = n * 〖10〗^(±m)<br>
    Знак "+"можна не зазначати, знак .. _ .. писати обов'язково.<br>
</p>
<p class="subTheme" id="subTheme1_3_2">Символьний тип (char)</p>
<p class="regular">
    Символьний тип - це множина символів кодової таблиці комп'ютера ASCII. Символьиа стала - це одии символ,
    узятий у лапки на зразок апострофа, або число у 8-, 10- чи 16-й истемі числення, яке є кодом символу у
    таблиці ASCII. Приклад 4. Розглянемо описи символьних змінних, де змінним m1 , m2, тЗ і m4 надамо
    зиnчення латинської літери ‘А' чотирма способами:<br>
    char m1 = ‘A’, m2 = 0101, mЗ = 65, m4 = Ох41;<br>
    Число 65- це десятковий код символу 'А', 101 - вісімковий, 41 - шістнадцятковий.
    На початку останніх двох кодів (101, 41) записують префікси "О" чи "Ох" відповідно.
    Приклад 5. Розглянемо спосіб визначення десятнкового АSСІІ-коду деякого символу, наприклад 'А':<br>
</p>
<p class="code">
    char с ='А';<br>
    int n = с;<br>
    //Змінна n набуде значення 65.
</p>
<p class="subTheme" id="subTheme1_3_3">Типи bool, void</p>
<p class="regular">
    Логічний тип (bооІ). Логічний тип характеризується двома значеннями даних: false (хибність) і true
    (істина). Наприклад, bооІ b = true. Змінні цього типу займають 1 байт у пам'яті комп'ютера. У С++
    значення змінних типу int можна асоціювати з логічними значеннями: нулю відповідає значення false, усім
    іншим числам - true. Зауважимо, що не всі · компілятори підтримують тип даних bооl. Тому, перед тим як
    його використовувати, варто з'ясувати можливості компілятора.<br>
    Тип void. Тип void застосовують до функцій, які нє повертають зпачення у точку виклику або до функцій
    без параметрів.<br>
    Крім вище описаних стандартних типів даних, можна створювати типи користувача:
    typedef &ltопис типу&gt &ltназва нового типу&gt ;<br>
    Приклад 6. Опишемо тип kilkist для позначення коротких цілих даних без знаку:<br>
    typedef unsigned short int kilkist:<br>
    Змінні (kil1, kil2) цього типу у програмі можна оголосити<br>
    так: kilkist kil1, kil2;<br>
</p>
{% endblock main %}
{% block anchors %}
<a href="#subTheme1_3_1">Загальні типи</a>
<a href="#subTheme1_3_2">Символьний тип (char)</a>
<a href="#subTheme1_3_3">Типи bool, void</a>
{% endblock anchors %}