@import url(header.css);
@import url(footer.css);
@import url(text.css);
@import url(fonts.css);
@import url(team.css);
@import url(home.css);

body
{
    background-color: #f8f9fc;
}

.bigContainer
{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;  
}
.navigation
{
    background-color: #fff;
    width: 19%;
    border-radius: 16px;
    margin-left: 4%;
    height: 700px;
    box-shadow: 0 0 16px 0 hsla(240,7%,52%,.2);
}

.navigationMenu a 
{
    display: block;
    /* border: 1px solid white; */
    height: 70px;
    padding-top: 7%;
    transition: 2s background-color;
    border-radius: 16px;
    
}
.navigationMenu a:hover
{
    background-color: #85858f;
}

.list
{
    position: relative;
}


.subNavigationMenu
{
    position: absolute;
    top: -9999em;
    width: 100%;
    opacity: 0;
    transition: 0.7s opacity;
}

a
{
    text-decoration: none;
    text-align: center;
    color:inherit;
    font-family: 'Ubuntu';
}



.first
{
    transition: 0.7;
}
.first:hover ~ .second
{
    margin-top: 420px;
}
.second:hover ~ .third
{
    margin-top: 420px;
}
.third:hover ~ .forth
{
    margin-top: 420px;
}
.list:hover .subNavigationMenu
{
    top: 70px ;
    opacity: 1;
}



.mainContainer
{
    background-color: #fff;
    width: 50%;
    border-radius: 16px;
    /* height: 2000vh; */
    margin-left: 3%;
    box-shadow: 0 0 16px 0 hsla(240,7%,52%,.2);
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */

}
.catpic{
    width: 100%;
    height: 100%;
}
.anchors
{
    background-color: #fff;
    width: 20%;
    border-radius: 16px;
    margin-left: 3%;
    height: 210px;
    box-shadow: 0 0 16px 0 hsla(240,7%,52%,.2);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 114px;
    right: 10px;
    z-index: 99;

}
.anchors a
{
    display: block;
    /* border: 1px solid white; */
    height: 70px;
    padding-top: 7%;
    transition: 2s background-color;
    border-radius: 16px;
}
.anchors a:hover
{
    background-color:#85858f;
}
.lesson2
{
    height: 140px;
}
.lesson10
{
    height: 280px;
}

footer
{
    background-color: #e6e6eb;
    box-shadow:  0 16px 0 rgba(190,190,204,.25);

}
video{
    margin-top: 2%;
    margin-left: 2%;
    width: 96%;
    margin-right: 2%;
}