@import url(reset.css);

header
{
    box-shadow: 0 0 16px 0 hsla(240,7%,52%,.2);
    background-color: #fff;
    height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.logo
{
    font-size: 34px;
    margin-left: 20px;
}
.menu
{
    margin-left: 50%;
    height: 100%;
    width: 13%;
}
.menu ul
{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.menu a
{
    display: block;
    margin: 3px;
}
.menu li
{
    font-size: 22px;
    padding-top: 17px;
    transition-duration: 0.7s;
    transition-property: background-color;
}

.menu li:hover
{
    background-color: #e6e6eb;
}

.teamHeder
{
    position: static;
    margin-top: -16px;
}