.teamContainer{
    width: 98%;
    height: 85vh;
    background-color: rgb(156, 156, 156);
    margin: 1% auto;
    border-radius: 23px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 16px 0 hsla(240,7%,52%,.2);
}
.text-team{
    margin: 0;
}
.card{
    width: 16%;
    height: 40%;
    background-color: white;
    margin: 2%;
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.7s;
    transition-property: background-color;
    position: relative;
}

.info
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-img{
    height: 40%;
    width: 40%;
    border-radius: 50%;
}
.telergamPic
{
    margin-top: 2px;
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.bold
{
    font-size: 25px;
}
.light
{
    font-size: 17px;
}
.text-card .data-card 
{
    font-family: "Ubuntu";
}
span
{
    font-size: 26px;
    font-family: "Ubuntu";
}
#vlada
{
    font-size: 23px;
}

#Kostya
{
    margin-top: -13px;
}