@font-face{
    font-family: 'Ubuntu';
    src: url(../font/Ubuntu-Regular.ttf);
}
.test-form {
    font-family: 'Ubuntu';
}
tbody.test-form
{
    background-color: lightblue;
    border-radius: 13px;
}
tr .test-form 
{
    padding-top: 0px;
    margin-top: 0px;
    border-radius: 15px;
    font-size: 25px;
}
label .test-form
{
    font-size: 10px;
    padding-top: 10px;
}
.test-form ul
{
    display: block;
    background-color: silver;
    font-size: 19px;
    padding: 30px;
    border-radius:25px;
    margin-top: 40px;
}
.test-form li
{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#sendButton
{
    background-color: blue;
    width: 15%;
    height: 5vh;
    color: white;
    outline: none;
    border: 1px solid white;
    border-radius: 8px;
    font-size: large;
    margin-left: 80%;
    margin-top: 1%;
}

h2
{
    font-size: 30px;
    font-family: "Ubuntu";
    text-align: center;
}
h1
{
    margin-top: 1%;
    text-align: center;
}