<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guide of CPP</title>
    <link rel="stylesheet" href="{% static 'style/base.css' %}">
</head>
<body>
    <header>
        <span class="logo">Guide of CPP</span>
        <nav class="menu">
            <ul>
                <li><a href="http://cppguide.herokuapp.com">Домашня</a></li>
                <li><a href="http://cppguide.herokuapp.com/lessons">Уроки</a></li>
                <li><a id="aboutLink" href="http://cppguide.herokuapp.com/about">Про нас</a></li>
            </ul>
        </nav>
    </header>
    <div class="bigContainer">
        <div class="navigation">
            <ul class="navigationMenu">
                <li class="list first"><a href="http://cppguide.herokuapp.com/lessons/1/">Основні поняття  мови С++</a>
                    <ul class="subNavigationMenu">
                        <li><a href="http://cppguide.herokuapp.com/lessons/1/">Урок 1. Ознайомлення з мовою програмування </a></li>
                        <li><a href="http://cppguide.herokuapp.com/lessons/2/">Урок 2. Перша програма. Сталі </a></li>
                        <li><a href="http://cppguide.herokuapp.com/lessons/3">Урок 3. Типи даних</a></li>
                        <li><a href="http://cppguide.herokuapp.com/lessons/4">Урок 4. Присвоєння. Арифметичні вирази</a></li>
                        <li><a href="http://cppguide.herokuapp.com/lessons/5">Урок 5. Потоки. Введення і виведення</a></li>
                        <li><a href="http://cppguide.herokuapp.com/test/1">Пройти тестування знань</a></li>
                    </ul>
                </li>
                <li class="list second"><a href="http://cppguide.herokuapp.com/lessons/6/">Процеси мови С++</a>
                    <ul class="subNavigationMenu">
                        <li><a href="http://cppguide.herokuapp.com/lessons/6">Урок 1. Вказівники та динамічна пам’ять</a></li>
                        <li><a href="http://cppguide.herokuapp.com/lessons/7">Урок 2. Файли</a></li>
                        <li><a href="http://cppguide.herokuapp.com/lessons/8">Урок 3. Розгалуження</a></li>
                        <li><a href="http://cppguide.herokuapp.com/lessons/9">Урок 4. Побітові операції</a></li>
                        <li><a href="http://cppguide.herokuapp.com/lessons/10">Урок 5. Продовження вивчення побітових операцій(команди)</a></li>
                        <li><a href="http://cppguide.herokuapp.com/test/2">Пройти тестування знань</a></li>
                    </ul>
                </li>
                <li class="list third"><a href="http://cppguide.herokuapp.com/lessons/11/">Цикли та функції мови С++</a>
                    <ul class="subNavigationMenu">
                        <li><a href="http://cppguide.herokuapp.com/lessons/11">Урок 1. Цикли та функції мови С++</a></li>
                        <li><a href="http://cppguide.herokuapp.com/lessons/12">Урок 2. Знайомство з функцією</a></li>
                        <li><a href="http://cppguide.herokuapp.com/lessons/13">Урок 3. Продовження вивчення функції #1</a></li>
                        <li><a href="http://cppguide.herokuapp.com/lessons/14">Урок 4. Продовження вивчення функції №2</a></li>
                        <li><a href="http://cppguide.herokuapp.com/lessons/15">Урок 5. Продовження вивчення функції №3</a></li>
                        <li><a href="http://cppguide.herokuapp.com/test/3">Пройти тестування знань</a></li>
                    </ul>
                </li>
                <li class="list forth"><a href="http://cppguide.herokuapp.com/lessons/16/">Масиви, рядки мови С++ </a>
                    <ul class="subNavigationMenu">
                        <li><a href="http://cppguide.herokuapp.com/lessons/16">Урок 1. Масиви</a></li>
                        <li><a href="http://cppguide.herokuapp.com/lessons/17">Урок 2. Багатовимірні масиви</a></li>
                        <li><a href="http://cppguide.herokuapp.com/lessons/18">Урок 3. Рядки</a></li>
                        <li><a href="http://cppguide.herokuapp.com/lessons/19">Урок 4. Структури та списки</a></li>
                        <li><a href="http://cppguide.herokuapp.com/lessons/20">Урок 5. Стеки та черги</a></li>
                        <li><a href="http://cppguide.herokuapp.com/test/4">Пройти тестування знань</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="mainContainer">{% block main %}{% endblock main %} </div>
        {% block anchors %}
        <div class="anchors" ></div>
        {% endblock anchors %}
    </div>
    <footer>
        <img class="footerImg" src="{% static 'img/Dovolen.png' %}" alt="">
        <p class="footerP">Made by Multimedia team</p>
        <img class="footerImg" src="{% static 'img/Dovolen.png' %}" alt="">
    </footer>
</body>
</html>