<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/base.css' %}">i
</head>
<body>
    <header class="teamHeder">
        <span class="logo">Guide of CPP</span>
        <nav class="menu">
            <ul>
                <li><a href="http://127.0.0.1:8000">Домашня</a></li>
                <li><a href="http://127.0.0.1:8000/lessons">Уроки</a></li>
                <li><a href="http://127.0.0.1:8000/about">Про нас</a></li>
            </ul>
        </nav>
        </header>
        <div class="teamContainer">
            <div class="card">
                <img class="card-img" src="{% static 'img/я.jpg' %}" alt="">
                <p class="bold text-card">Іван Кохан</p>
                <p class="light text-card">Team Multimedia</p>
                <p class="light data-card">Фронтенд розробник</p>
                <div class="info">
                    <img class="telergamPic" src="{% static 'img/telegram.png' %}" alt="">
                    <span class="data-card">@ivanKokhan</span>
                </div>
                
            </div>
            <div class="card">
                <img class="card-img" src="{% static 'img/Костя.jpg' %}" alt="">
                <p class="bold text-card">Констянтин Коноваленко</p>
                <p class="light text-card">Team Multimedia</p>
                <p class="light data-card">Back-end розробник :)</p>
                <div class="info" id="Kostya">
                    <img class="telergamPic" src="{% static 'img/telegram.png' %}" alt="">
                    <span class="data-card">@dnodnanadnedna</span>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="{% static 'img/Денис.jpg' %}" alt="">
                <p class="bold text-card">Денис Косінський</p>
                <p class="light text-card">Team Multimedia</p>
                <p class="light data-card">Моральна та фінансова підтримка</p>
                <div class="info">
                    <img class="telergamPic" src="{% static 'img/telegram.png' %}" alt="">
                    <span class="data-card">@joli1i</span>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="{% static 'img/Даня.jpg' %}" alt="">
                <p class="bold text-card">Данило Лигута</p>
                <p class="light text-card">Team Multimedia</p>
                <p class="light data-card">Звіт та ТЗ</p>
                <div class="info">
                    <img class="telergamPic" src="{% static 'img/telegram.png' %}" alt="">
                    <span class="data-card">@crybabby</span>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="{% static 'img/Влад.jpg' %}" alt="">
                <p class="bold text-card">Владислав Кошеленко</p>
                <p class="light text-card">Team Multimedia</p>
                <p class="light data-card">Створення відеоконтенту</p>
                <div class="info">
                    <img class="telergamPic" src="{% static 'img/telegram.png' %}" alt="">
                    <span class="data-card">@WellyShadow</span>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="{% static 'img/Назар.jpg' %}" alt="">
                <p class="bold text-card">Назар Король</p>
                <p class="light text-card">Team Multimedia</p>
                <p class="light data-card">Заповнення сторінок контентом</p>
                <div class="info">
                    <img class="telergamPic" src="{% static 'img/telegram.png' %}" alt="">
                    <span class="data-card">@Korol_N_V</span>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="{% static 'img/Влада.jpg' %}" alt="">
                <p class="bold text-card">Владислава Носовська</p>
                <p class="light text-card">Пошук,стуруктурування і написання матеріал та тестів</p>
                <p class="light data-card">1 September 2019</p>
                <div class="info">
                    <img class="telergamPic" src="{% static 'img/telegram.png' %}" alt="">
                    <span class="data-card" id="vlada">@chochochochochocho</span>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="{% static 'img/Жека.jpg' %}" alt="">
                <p class="bold text-card">Євгеній Ліщенко</p>
                <p class="light text-card">Team Multimedia</p>
                <p class="light data-card">Звіт та ТЗ</p>
                <div class="info">
                    <img class="telergamPic" src="{% static 'img/telegram.png' %}" alt="">
                    <span class="data-card">@dieyong</span>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="{% static 'img/Саня.jpg' %}" alt="">
                <p class="bold text-card">Олександр Подвойський</p>
                <p class="light text-card">Team Multimedia</p>
                <p class="light data-card">Звіт та ТЗ</p>
                <div class="info">
                    <img class="telergamPic" src="{% static 'img/telegram.png' %}" alt="">
                    <span class="data-card">@Sysyandr</span>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="{% static 'img/Макс.jpg' %}" alt="">
                <p class="bold text-card">Максим Марченко</p>
                <p class="light text-card">Team Multimedia</p>
                <p class="light data-card">Звіт та ТЗ</p>
                <div class="info">
                    <img class="telergamPic" src="{% static 'img/telegram.png' %}" alt="">
                    <span class="data-card">@maxxr3</span>
                </div>
            </div>
        </div>
        <footer>
            <img class="footerImg" src="{% static 'img/Dovolen.png' %}" alt="">
            <p class="footerP">Made by Multimedia team</p>
            <img class="footerImg" src="{% static 'img/Dovolen.png' %}" alt="">
        </footer>
</body>
</html>