{% extends "index.html" %}
{% load static %}

{% block main %}
<h1>Тест до теми №1</h1>
<link rel="stylesheet" href="{% static 'style/tests.css' %}">
<form method="POST">
        {% csrf_token %}
    <table class="table-test">
        {{ form.as_table }}
    </table>
    <input type="submit" value="Send" >
</form>

{% if grade > 2 %}
    <h2 style="color: green"> Тест упішно пройдено! Ваша оцінка : {{ grade }} / 4  </h2>
{% elif grade > -1 %}
    <h2 style="color: red"> Тест не пройдено! Ваша оцінка : {{ grade }} / 4  </h2>
{% endif %}

{% endblock main %}